<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Georgians Academy Specializes in coaching for Defence. Best SSB Coaching in Delhi</title>

    <link href="css/headerFooter.css" type="text/css" rel="Stylesheet" />
    <link href="css/grid.css" type="text/css" rel="Stylesheet" />
    <link href="css/main.css" type="text/css" rel="Stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <script src="js/main.js"></script>
    <script src="js/static.js"></script>
    <script src="js/slick.min.js"></script>
</head>

<body>

    <!--#region Header-->
    <%- include('layouts/header/header')%>
    <!--#endregion-->

    <!--#region Main Data-->
    <main>
        <section>
            <div class="container justify">
                <br /><br />
                <b>Georgians Academy for Professional Studies (GAPS)</b> was established in April 2013 with a passion to
                motivate and guide the candidates in realising their dream of becoming an officer in the Armed
                Forces. In the last 7 years this institute has proved it credentials by giving best results in
                NDA/CDS written and SSB. Today the institute is considered Best for NDA coaching and SSB coaching in
                Delhi and one of the best coaching in India for SSB preparations. <br /><br />

                Georgians Academy for Professional Studies (GAPS) was established in April 2013 with a passion to
                motivate and guide the candidates in realising their dream of becoming an officer in the Armed Forces.
                In the last 7 years this institute has proved it credentials by giving best results in NDA/CDS written
                and SSB. Today the institute is considered Best for NDA coaching and SSB coaching in Delhi and one of
                the best coaching in India for SSB preparations. <br /><br />

                We have dedicated team of faculty members having expertise in specific subjects and have developed
                high
                quality study material based on the continuous R &amp; D and regular subject practice papers to
                analyse
                the preparation for every candidate.<br /><br />

                Our institute caters for the economically weaker section candidates by charging minimum fees and
                providing them the best of opportunity to get success in written and SSB. We Believe that Quality
                education and proper guidance is the right of every youngster. No youngster should be deprived of it
                just because he/she doesn’t have resources to realise his/her dream.
                <br /><br />

                Since April 2013 we have taken small strives towards bigger dreams. With Three recommendations in 2013,
                seven in 2014, Twelve in 2015, eighteen in 2016, twenty seven in 2017, twenty seven in 2018, forty eight
                in 2019 and thirty seven in first three months of 2020, our journey is becoming bigger and
                bigger.<br /><br />

                <p style="text-align: center; font-size: 35px;"><b><em>"</em>WE DON'T COACH BUT DEVELOP
                        PERSONALITY"</b>
                </p>

            </div>
        </section>
    </main>
    <!--#endregion-->

    <!--#region Footer-->

    <%- include('layouts/common/socialicons')%>

    <%- include('layouts/footer/footer')%>

    <%- include('layouts/common/chatBot')%>

    <%- include('layouts/common/SelectedCandidatesBox')%>
    <!--#endregion-->

</body>

</html>