<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Georgians Academy Specializes in coaching for Defence. Best SSB Coaching in Delhi</title>

    <link href="css/headerFooter.css" type="text/css" rel="Stylesheet" />
    <link href="css/grid.css" type="text/css" rel="Stylesheet" />
    <link href="css/main.css" type="text/css" rel="Stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="js/static.js"></script>
</head>

<body>

    <!--#region Header-->
    <%- include('layouts/header/header')%>
    <!--#endregion-->

    <!--#region Main Page Display-->
    <main>
        <section class="gaArmyOfficerEntry">
            <div class="card-group row">
                <div class="card col-sm-9">
                    <div class="card-body">
                        <div class="container">

                            <div class="table-wrap">
                                <h4 class="table-title"> ACC & TA Exam Preparation</h4>
                                <p><b>Territorial Army Entry:</b>
                                    <p><b>Syllabus and written exam pattern</b><br />

                                        <table class="table table-hover table-bordered cm-tables">
                                            <tbody>
                                                <tr>
                                                    <td>Maximum time 2 hours 30 minutes and marks are hundred (100). The
                                                        question paper has two sections (section I &#038; section II).
                                                        First section is of 40 marks and second section is of 60 marks.
                                                        First section consists of essay in English and comprehension.
                                                        Second section consists of 110 objective type questions, in
                                                        which question number 1 to 10 carry one (1) mark each and
                                                        question number 11 to 110 carry half (1/2) mark.</td>
                                                </tr>
                                                <tr>
                                                    <td>NOTE- To be eligible to qualify the exam, candidate must obtain
                                                        50% aggregate marks and strictly minimum 40% marks from each in
                                                        section 1 and 2 separately. Generally, there is no negative
                                                        marking; if so it is informed just before the exam.</td>
                                                </tr>
                                                <tr>
                                                    <td>First section It comprises of two parts (A &#038; B). For this
                                                        the total 40 marks are allocated.</td>
                                                </tr>
                                                <tr>
                                                    <td>Part (A) Essay Writing in English-Write an essay in English
                                                        language in about three hundred (300) words out of 3-5 essays.
                                                        The essay related to current scenario on national or
                                                        international political, economic and social issues. Candidate
                                                        has to write an essay in English language in about three hundred
                                                        (300) words out of 3-5 essays. The essay related to current
                                                        scenario (Includes issues related to current Political /
                                                        Economic / National / International affairs etc)</td>
                                                </tr>
                                                <tr>
                                                    <td>Part (B) English Comprehension &#038; Language Second
                                                        section-Objective type questions on General Awareness related to
                                                        History, Geography, Political, Economic, Physics, Chemistry,
                                                        Biology, Defence, Sports, English Grammar, Synonyms, Antonyms,
                                                        Sentence Completion, Sentence Sequence, Fill in the blanks,
                                                        Reasoning, Mental Aptitude, National &#038; International
                                                        Current affairs etc.</td>
                                                </tr>

                                            </tbody>
                                        </table>

                            </div>


                            <p><b>ACC Entry:-</b>
                                <p>ACC exam syllabus and paper is divided into four parts. Following is the information
                                    in detail.</p>
                                <p><b>PAPER-I:</b> GENERAL MENTAL ABILITY TEST</p>
                                <p>General Mental Ability test (GMAT) paper will be aimed at testing the
                                    candidate&#8217;s intellectual ability. This paper have two types of questions
                                    &#8211; Argument and data Sufficiency. There will be 150 objective type questions of
                                    two marks each. The paper will consists of three sections:</p>
                                <ol>
                                    <li>Reasoning Ability (Verbal): 75 questions: 150 Marks</li>
                                    <li>Non &#8211; verbal Reasoning: 15 questions: 30 Marks</li>
                                    <li>Numerical Ability: 60 questions: 120 Marks</li>
                                </ol>
                                <p><b>PAPER-II:</b> CURRENT GENERAL AWARENESS Questions in this component will be aimed
                                    at testing the candidate&#8217;s General Awareness of the environment around him and
                                    its application to society. The syllabus designed to include test of mental ability,
                                    current general situational and military awareness. This will consists of 150
                                    objective type questions of two marks each.</p>
                                <p><b>PAPER &#8211; III:</b> INTERACTIVE COMMUNICATIVE ENGLISH Questions in this
                                    component will be designed to test the candidate&#8217;s understanding and knowledge
                                    of English language in particular the communicative skill. There will be two papers
                                    for Interactive Communicative English. Part I will consists of 120 objective type
                                    questions of one mark each for a duration of one hour. Part II will consist of
                                    descriptive type questions for 180 marks for a duration of two hours.</p>
                                <p><b>PAPER &#8211; IV:</b> ACADEMIC CONTENT TEST There will be only one paper covering
                                    Mathematics, General Science and Humanities. There will be a total of 150 objective
                                    type questions of 3 marks each Topics to be included in each paper and the
                                    distribution of marks will be as under:</p>
                                <ol>
                                    <li>Section A: Mathematics: 50 Questions: 100 Marks</li>
                                    <li>Section B: General Science: 50 Questions:100 Marks.</li>
                                    <li>Section C: Humanities: 50 Questions: 100 Marks</li>
                                </ol>
                                <p>Mental ability test is the easiest of all the topics which can be learned through
                                    some practice, Learning English is a long process.</p>
                                <p>After going through the ACC exam syllabus you must have realize how vast the syllabus
                                    is, it is hard and hence device your plan accordingly , you need 3 to 4 months of
                                    constant practice. Daily one to one and a half hour of intense practice is more than
                                    enough to pass this exam.</p>


                                <div class="table-wrap">
                                    <h4 class="table-title"> Fee structure for ACC</h4>
                                    <h5>
                                        (Our Batches starts first of every month)
                                    </h5>
                                    <table class="table table-hover table-bordered cm-tables">
                                        <thead>
                                            <tr class="info">
                                                <th>Course Name</th>
                                                <th>Duration</th>
                                                <th>Batch Time</th>
                                                <th>Fee</th>
                                            </tr>

                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>Crash Course</td>
                                                <td>30 days</td>
                                                <td>9:30am - 2:30pm</td>
                                                <td>6000/-</td>
                                            </tr>

                                            <tr>
                                                <td>Comprehensive Course</td>
                                                <td>90 days</td>
                                                <td>9:30am - 2:30pm</td>
                                                <td>18000/-</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <p>We Provide personality development and communication skill class to all
                                        candidates.</p>
                                    <div class="nots-list">
                                        <p>
                                            Separate <strong>Hostel/PG</strong> Facility for outstation
                                            <strong>Boys/Girls</strong>
                                        </p>
                                        <ul>

                                            <li>
                                                Charge: Rs 7500/month for Boys- <strong>(including breakfast, lunch and
                                                    dinner)</strong>
                                            </li>
                                            <li>
                                                Charge: Rs 8000/month for Girls- <strong>(including breakfast, lunch and
                                                    dinner)</strong>
                                            </li>
                                        </ul>


                                        <p>
                                            Students of RMS/ Sainik School/Navodaya Vidyalaya/ Kendriya Vidyalaya/ Govt
                                            schools will be given 30% Discounts in 2 Months course
                                        </p>

                                    </div>

                                    <p>
                                        <strong> NOTE : Students of EWS Category are given 30% Discount.</strong>
                                    </p>

                                </div>

                        </div>
                    </div>
                </div>

                <!--#region Page data -->
                <%- include('layouts/ads/ads')%>
                <!--#endregion-->

            </div>
        </section>
    </main>
    <!--#endregion-->

    <!--#region Footer-->

    <%- include('layouts/common/map')%>

    <%- include('layouts/footer/footer')%>

    <%- include('layouts/common/chatBot')%>

    <%- include('layouts/common/SelectedCandidatesBox')%>
    <!--#endregion-->

</body>

</html>