<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Georgians Academy Specializes in coaching for Defence. Best SSB Coaching in Delhi</title>

    <link rel="stylesheet" href="css/headerFooter.css" />
    <link rel="stylesheet" href="css/grid.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <script src="js/main.js"></script>
    <script src="js/static.js"></script>
    <script src="js/slick.min.js"></script>

</head>

<body>
    <!--#region Header-->
    <%- include('layouts/header/header')%>
    <!--#endregion-->

    <!--#region Main Page Display-->
    <main>
        <section class="gaArmyOfficerEntry">
            <div class="card-group row">
                <!--#region Page data -->
                <div class="home-left-section card col-sm-9">
                    <div class="card-body">
                        <div class="container">
                            <h3 class="gaArmyOfficerEntryHeading">Indian Air Force: Officer's Entry Routes</h3>
                            <p>The Indian Air Force took off as a tiny fleet with four Westland Wapiti army co-
                                operative
                                by-planes, six RAF trained officers and 19 Hawaii Sepoys. Today, it is the fourth
                                largest
                                Air Force in the world with a highly technical and specialised fighting force that
                                safeguards our skies against enemy invasions. On 8 October 1932, the Indian Air Force
                                came
                                into being and on 1st April 1954 Air Marshal Subroto Mukherjee; one of the founding
                                members
                                of the Air Force took over as the first Indian Chief of Air Staff. Airforce SSB Coaching
                                is
                                in Delhi to trained the candidate to join the Airforce</p>
                                <img src="assets/images/infoPages/airforce1.jpeg">
                                <h4>After 10+2</h4>
                            <p>The valiant boys could be part of the Indian Air Force family by applying for NDA
                                Candidates, short-listed for Indian Air Force after the initial selection procedure, go
                                through a rigorous three-year training regimen at the National Defence Academy at
                                Khadakwasla, followed by specialised training at one of the training establishment.
                                Thereafter, they are commissioned as Permanent Commission Officers and posted as pilots
                                at
                                any of the Air Force Stations. You can join NDA by taking the exam conducted by Union
                                Public
                                Service Commission (UPSC). This exam is conducted twice a year in all major cities
                                throughout India.</p>
                            <p> <b>Eligibility Criteria</b></p>
                            <p>
                                <ul class="gaLisItem">
                                    <li>Age - 16 to 19 years(at the time of commencement of course)</li>
                                    <li>Nationality - Indian</li>
                                    <li>Gender - Men only</li>
                                    <li>Educational Qualifications - 10+2 with Physics and Mathematics. Appearing final
                                        year
                                        students can also eligible to apply.</li>
                                    <li>Advertisement Schedule - May and December. (Advertisement is released by UPSC.
                                        Visit
                                        www.upsc.gov.in)</li>
                                </ul>
                            </p>
                            <h4>For Graduates/ Post Graduates</h4>
                            <p>Managing human and material resources, the Ground Duty Branch is the mechanism that
                                steers
                                the Indian Air Force.</p>

                            <p> <b>General Eligibility Criteria for Ground Duty Branches</b></p>
                            <ul class="gaLisItem">
                                <li>Age - 20 to 26 Years for Graduates and Post Graduates (at the time of commencement
                                    of course).</li>
                                <li>Marital Status - Candidates below the age of 25 years must be Unmarried.</li>
                                <li>Nationality - Indian</li>
                                <li>Gender - Both men and women</li>
                            </ul>
                            <p>As a Graduate/ Post Graduate you can join as an officer in any of the following Ground
                                Duty
                                Branches.</p>
                            <h4>ADMINISTRATION BRANCH</h4>
                            <ul class="gaLisItem">
                                <li>Permanent Commission (for Men) / Short Service Commission (for Men &amp; Women)</li>
                                <li>Responsible for the efficient management of both human and material resources. Some
                                    of the officers of the Administration Branch are selected and trained to carry out
                                    the following duties also:
                                    <ol>
                                        <li><b>Air Traffic Controller -</b> Involves maintaining an orderly flow of
                                            traffic and airspace</li>
                                        <li><b>Fighter Controller -</b> Involves close contact and supervision between
                                            the air and radar for effective airspace management.</li>
                                    </ol>
                                </li>
                            </ul>
                            <p> <b>Educational Qualifications</b></p>
                            <ul class="gaLisItem">
                                <li>Graduation degree in any discipline with a minimum 60% marks in aggregate in all
                                    papers put together?
                                    OR
                                    Post Graduation degree / equivalent diploma in any discipline with a minimum 50%
                                    marks in aggregate in all papers put together.</li>
                            </ul>
                            <h4>ACCOUNTS BRANCH</h4>
                            <ul class="gaLisItem">
                                <li>Permanent Commission (for Men) / Short Service Commission (for Men &amp; Women)</li>
                                <li>Responsible for efficient financial management of funds.You will also act as
                                    internal auditor to ensure a zero-defect audit from outside agencies.</li>
                            </ul>
                            <p> <b>Educational Qualifications</b></p>
                            <ul class="gaLisItem">
                                <li>Graduate Degree in Commerce (B Com) with a minimum 60% marks in aggregate in all
                                    papers put together
                                    OR
                                    Post Graduate Degree in Commerce (M Com) / CA / ICWA with a minimum 50% marks in
                                    aggregate in all papers put together.</li>
                            </ul>
                            <h4>LOGISTICS BRANCH</h4>
                            <ul class="gaLisItem">
                                <li>Permanent Commission (for Men) / Short Service Commission (for Men &amp; Women)</li>
                                <li>Responsible for materials management of all Air Force resources. You would ensure
                                    efficient supervision of inventories, and involve in procurement processes of
                                    various ranges of equipment.</li>
                            </ul>
                            <p> <b>Educational Qualifications</b></p>
                            <ul class="gaLisItem">
                                <li>Graduation degree in any discipline with a minimum 60% marks in aggregate in all
                                    papers put together
                                    OR
                                    Post Graduation Degree/ equivalent diploma in any discipline with a minimum 50%
                                    marks in aggregate in all papers put together.</li>
                            </ul>
                            <h4>EDUCATION BRANCH</h4>
                            <ul class="gaLisItem">
                                <li>Permanent Commission (for Men) / Short Service Commission (for Men &amp; Women)</li>
                            </ul>
                            <p> <b>Educational Qualifications</b></p>
                            <ul class="gaLisItem">
                                <li>Post Graduation Degree in any discipline with a minimum 50% marks in aggregate in
                                    all papers put together</li>
                            </ul>
                            <h4>METEOROLOGY BRANCH</h4>
                            <ul class="gaLisItem">
                                <li>Permanent Commission (for Men) / Short Service Commission (for Men &amp; Women)</li>
                                <li>As a Meteorology Branch Officer you would be involved handling the latest satellite
                                    imagery and state-of-the-art monitoring equipment, you would render specific advice
                                    to the operators on all aspects of weather.</li>
                            </ul>
                            <p> <b>Educational Qualifications</b></p>
                            <ul class="gaLisItem">
                                <li>Post Graduation Degree in any science stream / Mathematics / Statistics / Geography
                                    / Computer Applications / Environmental Science / Applied Physics / Oceanography /
                                    Agricultural Meteorology / Ecology &amp; Environment / Geo-physics / Environmental
                                    Biology. All candidates should have scored a minimum 50% marks in aggregate in all
                                    papers of Post Graduation put together and should have studied Maths &amp; Physics
                                    in Graduation with minimum of 55% marks in both subjects.</li>
                            </ul>
                            <h4>TECHNICAL BRANCH</h4>
                            <p>As an officer in the Technical Branch, you propel and manage your team to ensure that the
                                Indian Air Force remains airworthy. You would be incharge of some of the most
                                sophisticated
                                equipment in the world by joining one of the sub branches based on your qualification.
                            </p>

                            <p> <b>General Eligibility</b>
                                for Aeronautical Engineering Branch are (applicable for men and
                                women):</p>
                            <ul class="gaLisItem">
                                <li>Age - 20 to 26 years (at the time of commencement of course)</li>
                                <li>Nationality - Indian</li>
                                <li>Marital Status - Candidates below the age of 25 years should be unmarried</li>
                            </ul>
                            <p> <em>Entry into the Technical Branch is through two schemes, both via AFCAT</em></p>

                            <p><b>I.UNIVERSITY ENTRY SCHEME(UES)</b></p>
                            <ul class="gaLisItem">
                                <li>For candidates studying in Pre-Final year of B-tech/BE degree course</li>
                                <li>For men only. Grant of Permanent Commission.</li>
                                <li>Educational Qualifications: The candidate must be currently studying in Pre-final
                                    year of BE / BTech degree course with choice of subject as mentioned above. There
                                    must be No backlog / arrears of papers of previous semesters at the time of SSB
                                    Testing. On completion of degree, minimum 60% of marks in aggregate in all papers
                                    put together are mandatory.</li>
                            </ul>
                            <p><b>Advertisement Schedule:</b> December every year (through AFCAT)</p>

                            <p> <b>II.AERONAUTICAL ENGINEERING COURSE</b></p>
                            <ul class="gaLisItem">
                                <li>After completion of Engineering degree or while in your final year/semester of
                                    Engineering</li>
                                <li>For both Men and Women. Permanent Commission (for men) / Short Service Commission
                                    (For men and women)</li>
                                <li>Marks - Must have scored a minimum of 60% marks in aggregate in all the papers put
                                    together in any one of the qualifications listed.</li>
                                <li>Final year students are eligible to apply provided they do not have any present
                                    backlog at the time of SSB testing and they produce provisional/ original degree
                                    issued by the University as per the date stipulated in the advertisement.</li>
                            </ul>
                            <p> <b>Advertisement Schedule</b> - Advertisements for AFCAT are released by the IAF in the
                                months of June and December.</p>

                            <p> <b>Educational Qualification for Aeronautical Engineering Branch</b> - Depending upon
                                your
                                stream of Engineering and subjects studied, you could join one of the sub branches of
                                the
                                Technical branch. Check the educational qualification required for the sub branches.
                            </p>
                        </div>
                    </div>
                </div>
                <!--#endregion-->

                <!--#region Page data -->
                <%- include('layouts/ads/ads')%>
                <!--#endregion-->

            </div>
        </section>
    </main>
    <!--#endregion-->

    <!--#region Footer-->

    <%- include('layouts/common/map')%>

    <%- include('layouts/footer/footer')%>

    <%- include('layouts/common/chatBot')%>

    <%- include('layouts/common/SelectedCandidatesBox')%>
    <!--#endregion-->


</body>

</html>