<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Georgians Academy Specializes in coaching for Defence. Best SSB Coaching in Delhi</title>
    
    <link rel="stylesheet" href="css/headerFooter.css" />
    <link rel="stylesheet" href="css/grid.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <script src="js/main.js"></script>
    <script src="js/static.js"></script>
    <script src="js/slick.min.js"></script>
</head>

<body>

    <!--#region Header-->
    <%- include('layouts/header/header')%>
    <!--#endregion-->

    <!--#region Main Page Display-->
    <main>
        <section class="gaArmyOfficerEntry">
            <div class="card-group row">
                <div class="home-left-section card col-sm-9">
                    <div class="card-body">
                        <div class="container">

                            <div class="table-wrap">
                                <h4 class="table-title"> INDIAN AIR FORCE</h4>

                                <p><b>Group X (Tech)</b>
                                    <p><b>ENGLISH</b></p>
                                    <p>Comprehension , Composition , Grammar , Spellings ,Word formation , Antonyms and
                                        Synonyms, One word substitution , Correct usage of articles , Correct usage of
                                        Prepositions , Correct usage of adjectives-degrees of comparison , Correct usage
                                        of conjunctions , Correct usage of Nouns and Pronouns , Correct usage of numbers
                                        (Singular-Plural) , Words, which are commonly getting confused , Word order,
                                        Correct usage of Adverbs, Idioms and Phrases, Direct / Indirect sentences,
                                        Narration change , Change of various types of sentences from direct to indirect
                                        form , Change of various types of sentences from indirect to direct form ,
                                        Active and Passive Voices , Change of all types of sentences from active to
                                        passive form , Change of all types of sentences from passive to active form</p>
                                    <p><b>PHYSICS</b></p>
                                    <p>Physical World &#038; Measurement , Kinematics , Laws of Motion , Work, Energy
                                        &#038; Power, Motion of System of particles &#038; Rigid Body, Gravitation,
                                        Properties of Bulk Matter , Thermodynamics , Behaviour of Perfect Gas &#038;
                                        Kinetic Theory of gases , Oscillations &#038; Waves , Electrostatics , Current
                                        Electricity , Magnetic effect of current &#038; Magnetism , Electromagnetic
                                        Induction and Alternating current , Electromagnetic Waves , Optics , Dual Nature
                                        of Matter , Atoms and Nuclei , Electronic Devices , Communication Systems.</p>
                                    <p><b>MATHEMATICS</b></p>
                                    <p>Sets, Relations, functions , Trigonometric functions , Inverse Trigonometric
                                        functions , Complex Numbers , Quadratic Equations, Sequence &#038; Series (AP
                                        &#038; GP), Permutation , Combination , Binomial Theorem , Coordinate geometry
                                        &#8211; Straight line , Coordinate geometry &#8211; Circles , Coordinate
                                        geometry &#8211; Parabola, Coordinate geometry &#8211; Ellipse , Coordinate
                                        geometry &#8211; Hyperbola , Exponential Series, Logarithmic Series , Matrices ,
                                        Determinants , Limit &#038; Continuity , Differentiation, Application of
                                        Differentiation, Indefinite Integrals, Definite Integrals , Application of
                                        Integration, Deferential Equations , Probability , Statistics</p>
                                    <p><b>SYLLABUS (GROUP &#8216;Y&#8217;) </b></p>
                                    <ol>
                                        <li>English same as Group X.</li>
                                        <li>Reasoning ( Verbal and Non Verbal)</li>
                                        <li>Mathematics: Ratio and proportion , Average, LCM, HCF, Profit and Loss ,
                                            Time, Distance and Speed, Percentage, Simplification of Numbers, Fraction,
                                            Area of Triangle, Square and Rectangle, Surface area and Volume of Cuboid,
                                            Cylinder, Cone and Sphere, Probability Simple Trigonometry</li>
                                        <li>General Science, Civics, Geography, Current Events , History , Basic
                                            Computer Operation.</li>
                                    </ol>

                            </div>

                            <div class="table-wrap">
                                <h4 class="table-title"> Fee structure</h4>
                                <h5>
                                    (Our Batches starts first of every month)
                                </h5>
                                <table class="table table-hover table-bordered cm-tables">
                                    <thead>
                                        <tr class="info">
                                            <th>Course Name</th>
                                            <th>Duration</th>
                                            <th>Batch Time</th>
                                            <th>Fee</th>
                                        </tr>

                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>Crash Course</td>
                                            <td>30 days</td>
                                            <td>9:30am - 2:30pm</td>
                                            <td>6000/-</td>
                                        </tr>

                                        <tr>
                                            <td>Comprehensive Course</td>
                                            <td>90 days</td>
                                            <td>9:30am - 2:30pm</td>
                                            <td>18000/-</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <p>We Provide personality development and communication skill class to all
                                    candidates.</p>
                                <div class="nots-list">
                                    <p>
                                        Separate <strong>Hostel/PG</strong> Facility for outstation
                                        <strong>Boys/Girls</strong>
                                    </p>
                                    <ul>

                                        <li>
                                            Charge: Rs 7500/month for Boys- <strong>(including breakfast, lunch and
                                                dinner)</strong>
                                        </li>
                                        <li>
                                            Charge: Rs 8000/month for Girls- <strong>(including breakfast, lunch and
                                                dinner)</strong>
                                        </li>
                                    </ul>


                                    <p>
                                        Students of RMS/ Sainik School/Navodaya Vidyalaya/ Kendriya Vidyalaya/ Govt
                                        schools will be given 30% Discounts in 2 Months course
                                    </p>

                                </div>

                                <p>
                                    <strong> NOTE : Students of EWS Category are given 30% Discount.</strong>
                                </p>

                            </div>

                        </div>
                    </div>
                </div>

                <!--#region Page data -->
                <%- include('layouts/ads/ads')%>
                <!--#endregion-->

            </div>
        </section>
    </main>
    <!--#endregion-->

    <!--#region Footer-->

    <%- include('layouts/common/map')%>

    <%- include('layouts/footer/footer')%>

    <%- include('layouts/common/chatBot')%>

    <%- include('layouts/common/SelectedCandidatesBox')%>
    <!--#endregion-->

</body>

</html>