<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Georgians Academy Specializes in coaching for Defence. Best SSB Coaching in Delhi</title>

    <link rel="stylesheet" href="css/headerFooter.css" />
    <link rel="stylesheet" href="css/grid.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <script src="js/main.js"></script>
    <script src="js/static.js"></script>
    <script src="js/slick.min.js"></script>
</head>

<body>
    <!--#region Header-->
    <%- include('layouts/header/header')%>
    <!--#endregion-->

    <!--#region Main Page Display-->

    <main>
        <section class="gaArmyOfficerEntry">
            <div class="card-group row">
                <!--#region Page data -->
                <div class="home-left-section card col-sm-9">
                    <div class="card-body">
                        <div class="container">
                            <h3 class="gaArmyOfficerEntryHeading">Indian Air Force: Soldier Entry Routes</h3>
                            <p>The Indian Air Force took off as a tiny fleet with four Westland Wapiti army co-operative
                                by-planes, six RAF trained officers and 19 Hawaii Sepoys. Today, it is the fourth
                                largest Air Force in the world with a highly technical and specialised fighting force
                                that safeguards our skies against enemy invasions. On 8 October 1932, the Indian Air
                                Force came into being and on 1st April 1954 Air Marshal Subroto Mukherjee; one of the
                                founding members of the Air Force took over as the first Indian Chief of Air Staff. Air
                                Force Academy in Delhi to provide written coaching for both technical and non technical
                                as well.</p>
                            <img class="feat-img large-img" src="assets/images/infoPages/airforce2.jpeg">
                            <h5><b>ELIGIBILITY CRITERIA:AIR MEN AGE LIMIT AND EDUCATIONAL QUALIFICATION</b> (With Effect
                                From 01 Apr 13)</h5>
                            <div class="table-wrap">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr class="thead-light">
                                            <th width="15%">GROUP</th>
                                            <th width="15%">AGE(As on date of Enrolment)</th>
                                            <th>EDUCATIONAL QUALIFICATION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>GROUP 'X' trades(Except Education Instructor)</td>
                                            <td>17 - 21 Years</td>

                                            <td>Passed Intermediate / 10+2 / equivalent examination with Mathematics,
                                                Physics and English, with minimum 50% marks in aggregate and 50% marks
                                                in
                                                English
                                                OR

                                                Three years Diploma course in Engineering (Mechanical Electrical /
                                                Electronics / Automobile / Computer Science / Instrumentation Technology
                                                /
                                                Information Technology) from a Government recognised Polytechnic
                                                Institure
                                                with minimum 50% marks in overall aggregate, and 50% marks in English in
                                                Diploma or in Intermediate / Matriculation if English is not a subject
                                                in
                                                Diploma</td>

                                        </tr>
                                        <tr>
                                            <td>Group 'X': Education Instructor Trade)</td>
                                            <td>20-25 Years



                                                OR




                                                20-28 Years</td>
                                            <td>Graduate in Arts, Commerce degree ortwo years teaching experience in a
                                                Government recognised School/College, with minimum 50% marks in
                                                aggregate in
                                                Graduation as well as B. Ed


                                                OR


                                                Passed MA English / M Sc in Mathematics, Physics, Computer Science / MCA
                                                with B Ed degree or 2 Years teaching experience in a Government
                                                recognised
                                                School / College</td>

                                        </tr>
                                        <tr>
                                            <td>Group 'Y' Trades( Except Med Asst and Musician)</td>
                                            <td>17-21 Years</td>
                                            <td>Passed Intermediate / 10+2 / equivalent examination in anystream /
                                                subject
                                                approved by Central / State Education Boards with minimum 50% marks in
                                                aggregate and 50% marks in English


                                                OR


                                                Passed two years vocational course affiliated / recognised by CBSE /
                                                State
                                                Education Boards / Councils duly recognised at par with 10+2 by AIU with
                                                minimum 50 % marks in aggregate, and50% marks in English in Vocational
                                                Course or in Intermediate / Matriculation if English is not a subject in
                                                Vocational Course</td>

                                        </tr>
                                        <tr>
                                            <td>Group 'Y' :Med Asst Trade</td>
                                            <td>17-21 Years</td>
                                            <td>Passed 10+2 / Intermediate / equivalent exam with Physics, Chemistry,
                                                Biology and English with a minimum of 50% marks in aggregate and 50%
                                                marks
                                                in English</td>

                                        </tr>
                                        <tr>
                                            <td>Group 'Y': Musician Trade</td>
                                            <td>17-25 Years</td>
                                            <td>Passed Matriculation / 10th class or equivalent with minimum pass marks
                                                from
                                                any Government recognised School/Boards and proficient in playing at
                                                least
                                                one of the following musical instruments:
                                                Trumpet / Bass / Violin / Saxophone / Clarinet / Euphonium / Jazz-Drum /
                                                Piccolo / Bass Trombone / Key Board / Guitar / Sarod / Viola / Cello /
                                                Contra Bass (String Bass).</td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <h4>CAREER PROGRESSION</h4>
                            <p>The initial period of engagement in the IAF is 20 years, which can be extended up to the
                                age of 57 years. Promotion prospects up to the rank of Master Warrant Officer exist to
                                the deserving airmen. Opportunities to become a Commissioned Officer also exist for
                                those airmen who qualify the prescribed examination, later in their service career.</p>
                            <p><b>(a) Service Entry Commission.:</b> Airmen of the rank of Sergeant & above with 10
                                years of minimum service and within the age limit of 34 to 42 years get the opportunity
                                to become a Commissioned Officer in the IAF.</p>
                            <p><b>(b) Honorary Commission:</b> Airmen of the rank of Sergeant & above with 10 years of
                                minimum service and within the age limit of 34 to 42 years get the opportunity to become
                                a Commissioned Officer in the IAF.</p>
                            <p>Selected MWOs/WOs are granted Honorary Commission in the last year of their service
                                before superannuating on Republic Day and Independence Day each year. On grant of
                                Honorary Commission, they are eligible for higher scales of pay and allowances.</p>
                            <h4>PERSONALITY DEVELOPMENT</h4>
                            <p>Well stocked libraries, a variety of sports facilities as well as adventure and cultural
                                activities available at all the Air Force Establishments provide an opportunity for all
                                round personality development.</p>


                            <h4>POST RETIREMENT BENEFITS</h4>
                            <p>Post-Retirement benefits include pension, Ex-Servicemen Contributory Health Scheme
                                (ECHS), gratuity and canteen facilities. Specialised pre-release courses (PRC) are also
                                arranged to enable airmen to take up post retirement careers. In addition, airmen get
                                relaxation in age and reservation in Government services as ex-servicemen.</p>

                            <h4>GROUP 'X' (TECHNICAL) TRADES</h4>
                            <p>In this trade you are responsible for maintenance and repair of all types of light and
                                heavy duty mechanical vehicles, cranes and loading equipment etc.</p>
                            <p><b>Electronics Fitter</b></p>
                            <p>As an Electronics Fitter you operate and maintain Radar, Voice and Data transmission and
                                reception equipment mounted on latest airborne weapon delivery systems and ground based
                                air defence systems. You will get trained in Digital Electronics, measuring instruments,
                                radar technology, latest electronic devices and related trade fundaments.</p>

                            <p><b>Electrical Fitter</b></p>
                            <p>You will maintain power supply system of latest types of aircraft, airborne missiles and
                                associated ground systems. You will also maintain photo equipment mounted on air borne
                                weapon systems and operate ground based photo systems. You will get trained in
                                electrical trade, operation and maintenance of digital devices, electronics devices etc.
                            </p>

                            <p><b>Mechanical System Fitter</b></p>
                            <p>You will repair and maintain mechanical, hydraulic and pneumatic systems of airborne
                                missiles, engines, automobiles and aircraft fuelling equipment. Complete aircraft ground
                                support equipment will also be repaired and maintained by you. You will be trained in
                                handling and preparation of bombs and explosives and in electrical system, workshop and
                                mechanical trades as well as automobile mechanics.</p>

                            <p><b>Structures Fitter</b></p>
                            <p>As Structure Fitter, you are responsible for the maintenance and servicing of airframes
                                and their accessories, components and controls of aircraft. Regular checks for the
                                entire hydraulic and pneumatic system to ensure proper functioning against leaks are
                                also part of your duties. You will also be assigned the responsibility of marshalling,
                                parking, picketing and ground handling of aircraft.</p>

                            <p><b>Propulsion Fitter</b></p>
                            <p>In this trade you will repair, maintain and prepare for use the propulsion system of
                                aircraft and other airborne weapon delivery system</p>
                            <p><b>Workshop Fitter (Smith)</b></p>
                            <p>You will undertake major structural repairs of all aircraft at central repair facilities.
                                You will also be trained in workshop trade for material treatment, welding, heat
                                treatment, smithy and basic machine tools etc.</p>

                            <p><b>Workshop Fitter (Mechanical)</b></p>
                            <p>You will undertake repair and maintenance work of mechanical nature. You will be trained
                                in workshop trade and practices. </p>


                            <p><b>Weapon Fitter</b></p>
                            <p>In this trade, you will prepare, maintain and service armaments, ammunition and safety
                                equipment of aircraft, missiles and other weapon delivery systems. You will also operate
                                and maintain small arms and bomb destruction equipment. You will be trained to handle
                                bombs, explosives, arms and their installation on weapon delivery platforms.</p>


                            <h4>GROUP 'X' (NON-TECHNICAL) TRADES</h4>
                            <p><b>Education Instructor</b></p>
                            <p>In this trade, you will prepare, maintain and service armaments, ammunition and safety
                                equipment of aircraft, missiles and other weapon delivery systems. You will also operate
                                and maintain small arms and bomb destruction equipment. You will be trained to handle
                                bombs, explosives, arms and their installation on weapon delivery platforms.</p>

                            <h4>GROUP 'Y' (NON-TECHNICAL) TRADES</h4>
                            <p><b>Adm Assistant</b></p>
                            <p>As an Admin Assistant you will maintain and analyse records, files and information of
                                personnel. You will also manage ration supplies, cook houses and messes.</p>

                            <p><b>Accts Assistant</b></p>
                            <p>As an Accounts Assistant you will record and manage accounting of pay and allowances,
                                equipment, logistics transactions, public fund and cash flow etc.</p>

                            <p><b>Medical Assistant</b></p>
                            <p>You are made familiar with nursing and first-aid. You are also involved in management of
                                medical stores, dispensaries and ward supervision.</p>

                            <p><b>Logistics Assistant</b></p>
                            <p>As a Logistics Assistant, you are involved in the procurement, storage and handling
                                inventory control as well as accounting of military stores.</p>

                            <p><b>Environment Support Services Assistant (ESSA)</b></p>
                            <p>This job involves maintenance of the firefighting section. It also requires that you
                                ensure the upkeep of hygiene of Air Force Campus.</p>

                            <p><b>Ops Assistant</b></p>
                            <p>As an Ops Assistant you will operate various systems of Air Traffic Control Centre, Air
                                Field and Air Defence System. You will be trained in operation of Radars, Display Units,
                                reporting and tracking procedures of airborne weapon systems etc.</p>

                            <p><b>Meteorological Assistant</b></p>
                            <p>If you are a Meteorological Assistant, you are trained to undertake weather observation
                                and to maintain meteorological instruments. You are also responsible for plotting of
                                charts, taking balloon observations and compilation of weather summaries.</p>

                            <p><b>Environment Support Services Assistant (ESSA)</b></p>
                            <p>This job involves maintenance of the firefighting section. It also requires that you
                                ensure the upkeep of hygiene of Air Force Campus.</p>

                            <p><b>Ground Training Instructor</b></p>
                            <p>As a Ground Training Instructor, you will train personnel on drill, parade, handling of
                                arms and physical exercise. You are also responsible for organizing and conducting all
                                games and sports activities.</p>

                            <p><b>Indian Air Force (Police)</b></p>
                            <p>In the position of Indian Air Force (Police) your responsibilities involve assuming
                                police duties and investigation of offences. You are also in-charge of maintenance of
                                security.</p>

                            <p><b>Indian Air Force (Security)</b></p>
                            <p>As an Indian Air Force (Security) tradesman, you are to undertake special operations and
                                carry out high level security operations.</p>

                            <p><b>Musician</b></p>
                            <p>As a Musician you will become a part of the Air Force Band. You will be trained to play
                                different musical instruments.</p>
                        </div>
                    </div>
                </div>
                <!--#endregion-->

                <!--#region Page data -->
                <%- include('layouts/ads/ads')%>
                <!--#endregion-->

            </div>
        </section>
    </main>

    <!--#endregion-->

    <!--#region Footer-->

    <%- include('layouts/common/map')%>

    <%- include('layouts/footer/footer')%>

    <%- include('layouts/common/chatBot')%>

    <%- include('layouts/common/SelectedCandidatesBox')%>
    <!--#endregion-->

</body>

</html>