<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Georgians Academy Specializes in coaching for Defence. Best SSB Coaching in Delhi</title>

    <link rel="stylesheet" href="css/headerFooter.css" />
    <link rel="stylesheet" href="css/grid.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <script src="js/main.js"></script>
    <script src="js/static.js"></script>
    <script src="js/slick.min.js"></script>
</head>


<body>
    <!--#region Header-->
    <%- include('layouts/header/header')%>
    <!--#endregion-->

    <!--#region Main Page Display-->
    <main>

        <section class="gaArmyOfficerEntry">
            <div class="card-group row">
                <!--#region Page data -->
                <div class="home-left-section card col-sm-9">
                    <div class="card-body">
                        <div class="container">
                            <h3 class="gaArmyOfficerEntryHeading">Indian Army: Soldier Entries Route</h3>
                            <p>Indian army also provides opportunity for young generations to join through various
                                soldier
                                entries.
                                Various entries and required qualifications are given below:</p>
                            <img src="assets/images/infoPages/army2.jpg">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="thead-light">
                                        <th>Category</th>
                                        <th>Education</th>
                                        <th>Age (yrs)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Soldier(GD)</td>
                                        <td>SSLC/matric with 45% marks in aggregate and 32% in each Subject. No %
                                            required for
                                            higher qualification</td>
                                        <td>17 - 23</td>
                                    </tr>
                                    <tr>
                                        <td>Soldier (Technical)</td>
                                        <td>10+2/ intermediates exam pass in science with PCM and English with 50% marks
                                            in
                                            aggregate and 40%in each subject.</td>
                                        <td>17½ - 23</td>
                                    </tr>
                                    <tr>
                                        <td>Soldier Clerk/ Storekeeper (all arms)</td>
                                        <td>10+2/ intermediates exam pass in any stream with 50% marks in aggregate And
                                            minimum 40%
                                            in each subject. Should have studied and passed English and Maths/accts/book
                                            keeping in
                                            class X or Class XII with 40% marks in each subject. In case of graduate
                                            with Maths and
                                            English as subject in Bsc, the stipulations of 40% in class X or class XII
                                            is waived
                                            off. In case of graduate without English and Maths /accts /book keeping, he
                                            should have
                                            scored more than 40% in English and maths /accts/books keepings at least
                                            once in class X
                                            or class XII.</td>
                                        <td>17 – 23</td>
                                    </tr>
                                    <tr>
                                        <td>Soldier (nursing assistant) AMC</td>
                                        <td>10+2 /intermediates exam pass in science with physics chem, bio and English
                                            with min.
                                            50% in aggregate and 40% in each subject, or in case the candidate has a Bsc
                                            degree with
                                            (botany/zoology/bio-science) and eng, the stipulation of % in class XII is
                                            waived off.
                                            However ,the candidate should have studied all the four specified subjects
                                            in class XII
                                            also.</td>
                                        <td>17 – 23</td>
                                    </tr>
                                    <tr>
                                        <td>Soldier Tradesman (all arms)</td>
                                        <td>10th/ITI/(except for syce, house keeper&amp; mess keeper who may be 8th
                                            pass)</td>
                                        <td>17 – 23</td>
                                    </tr>
                                    <tr>
                                        <td>Soldier GD</td>
                                        <td>10th pass</td>
                                        <td>17 – 21</td>
                                    </tr>
                                    <tr>
                                        <td>Hav surveyor auto Catro(Engs)</td>
                                        <td>Ba/Bsc with Maths. Must have also passed class (10+2) or equivalent with
                                            Maths and
                                            science as main subjects</td>
                                        <td>20 – 25</td>
                                    </tr>
                                    <tr>
                                        <td>JCO(religious teacher)</td>
                                        <td>Graduate in any discipline .in addition ,requisite qualification in his own
                                            religious
                                            denomination</td>
                                        <td>27 – 34</td>
                                    </tr>
                                    <tr>
                                        <td>JCO (catering)</td>
                                        <td>10+2 or equivalent exam &amp; diploma/certificate course of a duration of
                                            one year or
                                            more in cookery / HM and catering technology from a recognized University/
                                            food craft
                                            institute AICTE recognition is not mandatory</td>
                                        <td>21 – 27</td>
                                    </tr>
                                    <tr>
                                        <td>Hav Edu(AEC)</td>
                                        <td>Group X-MA/M.sc/MCA or BA/Bsc/BCA with B.Ed. Group Y- Bsc/BCA/BA (without
                                            B.Ed.)</td>
                                        <td>20 - 25</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="heading"><b>How to apply:</b></p>
                            <p> All Recruitments are done through open rallies only. Rally schedule is published in
                                leading
                                vernacular
                                and employment news. Report to rally site on the date announced along with all
                                documents.
                            </p>
                        </div>
                    </div>
                </div>
                <!--#endregion-->

                <!--#region Page data -->
                <%- include('layouts/ads/ads')%>
                <!--#endregion-->
            </div>
        </section>

    </main>
    <!--#endregion-->

    <!--#region Footer-->

    <%- include('layouts/common/map')%>

    <%- include('layouts/footer/footer')%>

    <%- include('layouts/common/chatBot')%>

    <%- include('layouts/common/SelectedCandidatesBox')%>
    <!--#endregion-->
</body>

</html>