<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Georgians Academy Specializes in coaching for Defence. Best SSB Coaching in Delhi</title>

    <link href="css/headerFooter.css" type="text/css" rel="Stylesheet" />
    <link href="css/grid.css" type="text/css" rel="Stylesheet" />
    <link href="css/main.css" type="text/css" rel="Stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="js/static.js"></script>
</head>

<body>

    <!--#region Header-->
    <%- include('layouts/header/header')%>
    <!--#endregion-->

    <!--#region Main Page Display-->
    <main>
        <section class="gaArmyOfficerEntry">
            <div class="card-group row">
                <div class="card col-sm-9">
                    <div class="card-body">
                        <div class="container">

                            <div class="table-wrap">
                                <h4 class="table-title"> Army</h4>

                                <p><b>Soldier (General Duty) GD</b></p>
                                <p><b>Total Marks:-</b> 100 Marks</P>
                                </p>
                                <p><b>Duration:-</b>01 Hours</P>
                                </p>
                                <p><b>Subjects:&#8211;</b></p>
                                <ol>
                                    <li>GK-30 Questions</li>
                                    <li>General Science-40 Question</li>
                                    <li>Maths- 30 Questions</li>
                                </ol>
                                <p><b>Soldier Technical (Tech)</b></p>
                                <p><b>Total Marks:-</b> 100 Marks</P>
                                </p>
                                <p><b>Duration:-</b>01 Hours</P>
                                </p>
                                <p><b>Subjects:&#8211;</b></p>
                                <ol>
                                    <li>GK-20 Questions</li>
                                    <li>Physics-30 Question</li>
                                    <li>Chemistry- 30 Questions</li>
                                    <li>Maths- 20 Questions</li>
                                </ol>
                                <p><b>Soldier Clerk/Skt</b></p>
                                <p><b>Total Marks:-</b> 100 Marks</P>
                                </p>
                                <p><b>Duration:-</b>01 Hours</P>
                                </p>
                                <p><b>Subjects:&#8211;</b></p>
                                <p><b>Part-I </b>(50 marks objective type- GK and General Science- 20 questions, Maths
                                    and Computer Science- 30 questions).</p>
                                <p><b>PART II </b>(50 marks subjective type questions in English comprising of Grammar,
                                    Comprehension, Letter Writing, Essay Writing and Precise Writing).</p>
                                <p><b>Soldier Nursing Assistant (Sol NA)</b></p>
                                <p><b>Total Marks:-</b> 100 Marks</P>
                                </p>
                                <p><b>Duration:-</b>01 Hours</P>
                                </p>
                                <p><b>Subjects:&#8211;</b></p>
                                <ol>
                                    <li> GK-20 Questions</li>
                                    <li>Biology-30 Question</li>
                                    <li>Chemistry- 30 Questions</li>
                                    <li>Maths- 20 Questions</li>
                                </ol>
                                <p><b>Soldier Tradesmen</b></p>
                                <p><b>Total Marks:-</b> 100 Marks</P>
                                </p>
                                <p><b>Duration:-</b>01 Hours</P>
                                </p>
                                <p><b>Subjects:&#8211;</b></p>
                                <ol>
                                    <li>GK :- 40 Questions</li>
                                    <li> General Science :- 30 Question</li>
                                    <li> Mathematics(Arthimetic):-40 Questions</li>
                                </ol>
                            </div>


                            <div class="table-wrap">
                                <h4 class="table-title"> Fee structure</h4>
                                <h5>
                                    (Our Batches starts first of every month)
                                </h5>
                                <table class="table table-hover table-bordered cm-tables">
                                    <thead>
                                        <tr class="info">
                                            <th>Course Name</th>
                                            <th>Duration</th>
                                            <th>Batch Time</th>
                                            <th>Fee</th>
                                        </tr>

                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>Crash Course</td>
                                            <td>30 days</td>
                                            <td>9:30am - 2:30pm</td>
                                            <td>6000/-</td>
                                        </tr>

                                        <tr>
                                            <td>Comprehensive Course</td>
                                            <td>90 days</td>
                                            <td>9:30am - 2:30pm</td>
                                            <td>18000/-</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <p>We Provide personality development and communication skill class to all
                                    candidates.</p>
                                <div class="nots-list">
                                    <p>
                                        Separate <strong>Hostel/PG</strong> Facility for outstation
                                        <strong>Boys/Girls</strong>
                                    </p>
                                    <ul>

                                        <li>
                                            Charge: Rs 7500/month for Boys- <strong>(including breakfast, lunch and
                                                dinner)</strong>
                                        </li>
                                        <li>
                                            Charge: Rs 8000/month for Girls- <strong>(including breakfast, lunch and
                                                dinner)</strong>
                                        </li>
                                    </ul>


                                    <p>
                                        Students of RMS/ Sainik School/Navodaya Vidyalaya/ Kendriya Vidyalaya/ Govt
                                        schools will be given 30% Discounts in 2 Months course
                                    </p>

                                </div>

                                <p>
                                    <strong> NOTE : Students of EWS Category are given 30% Discount.</strong>
                                </p>

                            </div>

                        </div>
                    </div>
                </div>

                <!--#region Page data -->
                <%- include('layouts/ads/ads')%>
                <!--#endregion-->

            </div>
        </section>
    </main>
    <!--#endregion-->

    <!--#region Footer-->

    <%- include('layouts/common/map')%>

    <%- include('layouts/footer/footer')%>

    <%- include('layouts/common/chatBot')%>

    <%- include('layouts/common/SelectedCandidatesBox')%>
    <!--#endregion-->

</body>

</html>