<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Georgians Academy Specializes in coaching for Defence. Best SSB Coaching in Delhi</title>

    <link rel="stylesheet" href="css/headerFooter.css" />
    <link rel="stylesheet" href="css/grid.css" />
    <link rel="stylesheet" href="/css/main.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="js/static.js"></script>
</head>

<body>
    <!--#region Header-->
    <%- include('layouts/header/header')%>
    <!--#endregion-->

    <!--#region Main Page Display-->
    <main>
        <section class="gaArmyOfficerEntry">
            <div class="card-group row">
                <!--#region Page data -->
                <div class="card col-sm-9">
                    <div class="card-body">
                        <div class="container">
                            <h3 class="gaArmyOfficerEntryHeading">Officer's Entry Routes</h3>
                            <p>History of National Defence Academy / Indian Army dates back to ancient India. From the
                                ancient era
                                to the modern age Indian army has evolved through the ages, with the bravery of Indians.
                                History of
                                Indian Army is pregnant with real and true accounts of extraordinary heroism and valour
                                and can be
                                traced back to the ancient periods in India. The earliest mention of Indian Army is
                                found in the
                                ancient texts and scriptures, including the Vedas and the epics Mahabharata and
                                Ramayana. Modern
                                India has witnessed several valorous soldiers who have laid down their lives for their
                                motherland.
                                The names of such warriors have been immortalized in the history of Indian army.</p>

                            <img src="assets/images/infoPages/army1.jpg">

                            <p>There are two main routes of entry into the Army. Both are via prescribed competitive
                                examinations,
                                conducted by the Union Public Service Commission (UPSC). Entry after 10+2 is through the
                                National
                                Defence Academy (NDA) Exam; or you can enter after graduation or post-graduation by
                                taking the
                                Combined Defence Services Examination (CDSE), conducted twice a year, generally in the
                                months of
                                February and October.</p>


                            <h3 class="gaArmyOfficerEntryHeading">NATIONAL DEFENCE ACADEMY EXAMINATION</h3>

                            <p>The National Defence Academy (NDA) Examination is conducted twice a year, in the months
                                of April and
                                September, for admission to the Army, Navy and Air Force wings of the NDA.</p>

                            <p class="heading"><b>Conditions of eligibility:</b></p>

                            <p>The basic eligibility criteria are listed below:</p>

                            <p>
                                <b>(a) Nationality:</b>
                            </p>

                            <p>Since you have to fight for the country, you must either be :-</p>
                            <ul class="gaLisItem">
                                <li>A citizen of India or</li>
                                <li>A subject of Bhutan or</li>
                                <li>A subject of Nepal or</li>
                                <li>A Tibetan refugee who crossed over to India before January 1, 1962 with the
                                    intention of settling permanently in India or</li>
                                <li>A person of Indian origin who migrated from Pakistan, Burma, Sri Lanka, Vietnam
                                    and East African countries of Kenya, Uganda, United Republic of Tanzania,
                                    Zambia, Malawai, Zaire and Ethiopia, with the intention of settling permanently
                                    in India.</li>
                            </ul>
                            <p>However, if you belong to category ii., iii., iv. or v., you must possess a
                                certificate of eligibility in your favour, issued by the Government of India. The
                                certificate of eligibility is, however, not necessary in the case of candidates who
                                are Gorkha subjects of Nepal.</p>
                            <p>
                                <b>(b) Age Limits, Sex and Marital Status:</b>
                            </p>
                            <p>Only unmarried male citizens who have attained the minimum age of 16 years and up to a
                                maximum
                                age limit of 19 years as on 1st January for the course commencing in January and as on
                                1st July
                                for the course commencing in July are eligible.</p>
                            <p>
                                <b>(c) Educational Qualifications:</b>
                            </p>
                            <p>NDA: 10+2 with any subject (PCM must for Airforce and Navy).</p>


                            <h3 class="gaArmyOfficerEntryHeading">Scheme of examination:</h3>
                            <p>The competitive examination comprises:</p>
                            <ol class='gaLisItem'>
                                <li>Written examination</li>
                                <li>SSB Interview for intelligence and personality test of such candidates as may be
                                    called
                                    for the interview.</li>
                            </ol>
                            <p>
                                <b>1. Details of the written examination are given below:</b>
                            </p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="thead-light">
                                        <th>Subject</th>
                                        <th>Duration</th>
                                        <th>MM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1. Mathematics</td>
                                        <td>2½hours</td>
                                        <td>300</td>
                                    </tr>
                                    <tr>
                                        <td>2. General Ability</td>
                                        <td>2½hours</td>
                                        <td>600</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>The maximum marks allotted to the interview round is the same as the maximum marks
                                allotted
                                to
                                the written examination (900 marks).</p>
                            <ul style="list-style-type:square" class='gaLisItem'>
                                <li>The question papers/ test booklets are set in English and Hindi Both.</li>
                                <li>The papers in all subjects will consist only of objective type questions.</li>
                                <li>In the question papers, wherever necessary, questions involving the metric system of
                                    weights and measures only will be set.</li>
                                <li>All candidates have to write out the answers in their own hand. In no circumstance
                                    will
                                    they be allowed to even use the help of a scribe.</li>
                                <li>The UPSC is empowered with the discretion to fix the qualifying marks of any or all
                                    the
                                    subjects of examination.</li>
                                <li>The use of calculators is not permitted during the course of the exam. You cannot,
                                    therefore, carry them to the examination hall.</li>
                            </ul>
                            <p><b>2.Intelligence and Personality Test:</b></p>
                            <p>Once you qualify the written examination, you will also be put through intelligence
                                tests,
                                both verbal and non-verbal, designed to assess your basic intelligence. You will also
                                have
                                to undergo group tests, including group discussions, group planning of outdoor group
                                tasks,
                                and so on. You will be also asked to give brief lectures on specified subjects. All
                                these
                                tests, conducted by the Services Selection Board (SSB) are basically intended to judge
                                your
                                mental calibre, and not just intellectual qualities, but also social traits and
                                interests in
                                current affairs.</p>

                            <p><b>3. Physical Standard:</b></p>
                            <p>For entering the defence forces, you have to be physically fit as per the prescribed
                                physical
                                standards. Once selected by the Services Selection Board (SSB), you will have to undergo
                                a
                                medical examination by a Board of Service Medical Officers. Only those candidates will
                                be
                                admitted to the forces for training who are declared fit by the Medical Board.</p>

                            <table class="table table-bordered table-responsive">
                                <thead class="thead-light">
                                    <tr>
                                        <th>How to Apply</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>The notification is published in the Employment News/ RozgaarSamachar and
                                            leading dailies and official website of Indian army. Candidates have to
                                            apply
                                            online on the link of joinindianarmy.nic.in</td>
                                    </tr>
                                </tbody>
                            </table>


                            <h3 class="gaArmyOfficerEntryHeading">COMBINED DEFENCE SERVICES EXAMINATION</h3>
                            <p>The Combined Defence Services Examination (CDSE) is conducted for admission to the
                                following
                                courses and institutions:</p>
                            <ul class='gaLisItem'>
                                <li>Indian Military Academy, Dehradun for courses commencing in the following January
                                    and
                                    July, respectively.</li>
                                <li>Naval Academy, Goa for courses commencing in the following January and July,
                                    respectively.</li>
                                <li>Air Force Station, Begumpet, Hyderabad (Pre-flying) for courses commencing in the
                                    following January and July, respectively.</li>
                                <li>Officer's Training Academy, Chennai for courses commencing in the following May and
                                    October, respectively.</li>
                            </ul>
                            <p class="heading"><b>Condition of eligibilty:-</b></p>
                            <p>The basic eligibility criteria are listed below:</p>
                            <p><b>(a) Nationality: same as NDA</b></p>
                            <p><b>(b) Age Limits, Sex and Marital Status:</b></p>

                            <p>The minimum acceptable age limit as on the date of commencement of the course is: 19
                                years
                                (for all categories). Other details are:</p>
                            <ol type="i" class='gaLisItem'>
                                <li>For Indian Military Academy- Maximum age: 24 years, unmarried male.</li>
                                <li>For Naval Academy- Maximum age: 22 years, 24 years for Naval Wing 'C', unmarried
                                    male.
                                </li>
                                <li>For Air Force Academy- Maximum age: 23 years, unmarried male.</li>
                                <li>For Officers' Training Academy- Maximum age: 25 years, unmarried or unmarried male.
                                </li>
                            </ol>
                            <p><b>(c) Educational Qualifications:</b></p>
                            <ol type="i" class='gaLisItem'>
                                <li>For Indian Military Academy- Graduate degree from a recognized university or
                                    equivalent.
                                </li>
                                <li>For Naval Academy- BE or B.Sc. with Maths and Physics.</li>
                                <li>For Air Force Academy- BE or B.Sc. with Physics and/or Maths.</li>
                                <li>For Officers' Training Academy- Graduate degree from a recognized university or
                                    equivalent.
                            </ol>
                            <ul style="list-style-type:square" class='gaLisItem'>
                                <li>Graduates with Army/ Navy/ Air Force as their first choice are required to submit
                                    provisional certificates as proof of graduation on the date of commencement of the
                                    SSB
                                    interview at the Services Selection Board (SSB).</li>
                                <li>Even if you are yet to pass the graduate degree exam, you can apply, but you will be
                                    required to submit proof of passing the exam well before the specified date, failing
                                    which your candidature will stand cancelled.</li>
                                <li>If you possess professional and technical qualifications which are recognized by the
                                    Government as equivalent to professional and technical degrees would also be
                                    eligible
                                    for taking the exam.</li>
                                <li>In exceptional cases, the UPSC may treat a candidate, who does not possess any of
                                    the
                                    above qualifications, but is otherwise qualified, as eligible for taking the
                                    examination.</li>
                            </ul>
                            </li>
                            </ul>

                            <p><b>Scheme of examination:</b></p>
                            <p>The competitive examination comprises:</p>
                            <p>(a) Written examination</p>

                            <p>(b) SSB Interview for intelligence and personality test of such candidates as may be
                                called
                                for the interview at one of the Services Selection Centres</p>


                            <p><b><em>Details of the written examination</em></b>
                                <p>

                                    <p>For admission to the Indian Military Academy, Naval Academy and AirForce Academy:
                                    </p>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="thead-light">
                                                <th>Subject</th>
                                                <th>Duration</th>
                                                <th>MM</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1. English</td>
                                                <td>2 hours</td>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                                <td>2. General Knowledge</td>
                                                <td>2 hours</td>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                                <td>3. Mathematics</td>
                                                <td>2 hours</td>
                                                <td>100</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p>For admission to the Officers' Training Academy:</p>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="thead-light">
                                                <th>Subject</th>
                                                <th>Duration</th>
                                                <th>MM</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1. English</td>
                                                <td>2 hours</td>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                                <td>2. General Knowledge</td>
                                                <td>2 hours</td>
                                                <td>100</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <ul style="list-style-type:square" class='gaLisItem'>
                                        <li>The standard of examination in Elementary Mathematics will be that of
                                            matriculation level. Whereas, in all other subjects, the standard will
                                            approximately be such as may be expected of a graduate from an Indian
                                            University.</li>
                                        <li>The Mathematics paper broadly covers Arithmetic; Mensuration; Elementary
                                            Algebra; Geometry; Trigonometry and Statistics. Whereas, the English paper
                                            basically covers comprehension and usage; and General Knowledge encompasses
                                            Current Affairs; General Science; Indian History and Geography.</li>
                                    </ul>
                                    <b>
                                        <p>(d) Intelligence and Personality Test:</p>
                                    </b>
                                    <p>Once you qualify the written examination, you will also be put through
                                        intelligence
                                        tests, both verbal and non-verbal, designed to assess your basic intelligence.
                                        You
                                        will also have to undergo group tests, including group discussions, group
                                        planning
                                        of outdoor group tasks, and so on. You will be also asked to give brief lectures
                                        on
                                        specified subjects. All these tests, conducted by the Services Selection Board
                                        (SSB)
                                        are basically intended to judge your mental calibre, and not just intellectual
                                        qualities, but also social traits and interests in current affairs.</p>

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="thead-light">
                                                <th>How to Apply</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>The notification is published in the Employment News/
                                                    RozgaarSamachar
                                                    and leading dailies usually in the months of october/November (for
                                                    the
                                                    February examination) and in the month of june/july (for theoctober
                                                    examination). Candidates have to apply online.
                                                </td>
                                            </tr>
                                    </table>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr class="thead-light">
                                                <th>Type of Entry</th>
                                                <th>Month of commencement of course</th>
                                                <th>Age at the time of joining</th>
                                                <th>Educational qualification</th>
                                                <th>Mode of Selection</th>
                                                <th>How to apply</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>TGC(Engg)</td>
                                                <td>Jan. and July</td>
                                                <td>20-27yrs</td>
                                                <td>Engineering Degree in notified discipline</td>
                                                <td>SSB Interview</td>
                                                <td>Apply in response to advertisement in March/Apr & Sep/Oct.</td>

                                            </tr>
                                            <tr>
                                                <td>TGC(AEC)</td>
                                                <td>Jan. and July</td>
                                                <td>23-27yrs</td>
                                                <td>Post Graduate in notified Subject with 1st/2nd div.</td>
                                                <td>SSB Interview</td>
                                                <td>Same as above</td>
                                            </tr>
                                            <tr>
                                                <td>University Entry Scheme(UES)</td>
                                                <td>July</td>
                                                <td>18 - 24yrs</td>
                                                <td>Final and Pre-final years students of Engineering degree course.
                                                </td>
                                                <td>Campus interview and SSB interview</td>
                                                <td>Apply in response to advertisement in June.</td>
                                            </tr>
                                            <tr>
                                                <td>10+2 TES</td>
                                                <td>Jan. & July</td>
                                                <td>16½- 19yrs</td>
                                                <td>10+2 pass with 70% aggregate in PCM.</td>
                                                <td>Apply directly to the Recruiting Directorate.</td>
                                                <td>Apply in response to advertisement in May and Nov.</td>
                                            </tr>
                                            <tr>
                                                <td>SSC(Non-tech) (Men & women)</td>
                                                <td>Apr. and Oct</td>
                                                <td>19-25yrs</td>
                                                <td>Degree or equivalent at the time of joining the course.</td>
                                                <td>CDSE conducted by UPSE and SSB interview</td>
                                                <td>Apply in response to advertisement in March/April &sep./oct</td>
                                            </tr>
                                            <tr>
                                                <td>SSC (Tech) (Men & Women)</td>
                                                <td>Apr. and Oct</td>
                                                <td>20 - 27 yrs</td>
                                                <td>Engineering Degree in notified discipline.</td>
                                                <td>SSB interview</td>
                                                <td>Apply in response to advertisement in March/April &sep./oct.</td>
                                            </tr>
                                            <tr>
                                                <td>SSC(NCC Entry ) (men & women)</td>
                                                <td>Apr. and Oct</td>
                                                <td>19-25yrs</td>
                                                <td>Graduates with 50% aggregate marks, two years service in NCC Sr. Sr.
                                                    Division, Army with minimum 'B' Grade in 'C' certificate Exam</td>
                                                <td>SSB Interview</td>
                                                <td>Apply in response to advertisement in Dec./Jan & June/July</td>
                                            </tr>
                                        </tbody>
                                    </table>
                        </div>
                    </div>
                </div>
                <!--#endregion-->

                <!--#region Page data -->
                <%- include('layouts/ads/ads')%>
                <!--#endregion-->

            </div>
        </section>
    </main>
    <!--#endregion-->

    <!--#region Footer-->

    <%- include('layouts/common/map')%>

    <%- include('layouts/footer/footer')%>

    <%- include('layouts/common/chatBot')%>

    <%- include('layouts/common/SelectedCandidatesBox')%>
    <!--#endregion-->
</body>

</html>