<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Georgians Academy Specializes in coaching for Defence. Best SSB Coaching in Delhi</title>
    <link href="/css/headerFooter.css" type="text/css" rel="Stylesheet" />
    <link href="/css/grid.css" type="text/css" rel="Stylesheet" />
    <link href="/css/main.css" type="text/css" rel="Stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/blog.css">
    <script src="/js/main.js"></script>
    <script src="/js/static.js"></script>

    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/slick-theme.css">
    <script src="/js/main.js"></script>
    <script src="/js/static.js"></script>

</head>

<body class="blog blog-listing">
    <!--#region Header-->
    <%- include('layouts/header/header')%>
    <!--#endregion-->


    <main>
        <section>
            <div class="container">
                <div class="blog-content-wrapper">
                    <div class="row-fluid clearfix">
                        <div class="blog-content-left cm-col s12 m8 l8">
                            <div class="post-listing">
                                <!--#region Post List -->

                                <%if(displayData && displayData.bloglist){
                                    displayData.bloglist.forEach((ele)=>{  %>
                                <div class="post-item">
                                    <div class="post-item-inner">
                                        <%if(ele[3]){%>
                                        <div class="post-header">
                                            <a href="<%=displayData.preUrl%>blog/?no=<%=ele[0]%>">
                                                <img src="<%=displayData.preUrl%>assets/images/blog/<%=ele[3]%>" alt="">
                                            </a>
                                        </div>
                                        <%}%>
                                        <div class="post-body">
                                            <div class="post-byline">
                                                <h2>
                                                    <a href="<%=displayData.preUrl%>blog/?no=<%=ele[0]%>">
                                        <%=ele[1]%>
                                        </a>
                                        </h2>
                                        <p class="post-date">
                                            <i class="fa fa-clock-o "></i><%=ele[2]%>
                                        </p>
                                    </div>
                                    <div class="post-text">
                                        <%=ele[4]%>
                                    </div>
                                    <div class="more-link-wrap">
                                        <a href="<%=displayData.preUrl%>blog/?no=<%=ele[0]%>">
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%});
                            }%>
                        <!--#endregion-->
                    </div>
                    <!--#region Pagination-->
                    <div class="blog-pagination">
                        <ul>
                            <%if(displayData && displayData.paginationUrl && displayData.paginationUrl.pre ){%>
                            <li class="page-btn prev-page">
                                <a href="<%=displayData.paginationUrl.pre%>">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    Prev
                                </a>
                            </li>
                            <%}
                                    else{%>
                            <li class="page-btn prev-page  disabled">
                                <a href="">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    Prev
                                </a>
                            </li>
                            <%}%>

                            <%displayData.paginationUrl.url.forEach((ele)=>{%>
                            <li <%if(displayData.paginationUrl.active == ele){%>class="active" <%}%>>
                                        <a href="/blog/?pageNo=<%=ele%>">
                                <%=ele%>
                                </a>
                            </li>
                            <%});%>

                            <%if(displayData && displayData.paginationUrl && displayData.paginationUrl.next ){%>
                            <li class="page-btn next-page">
                                <a href="/blog/?pageNo=<%=displayData.paginationUrl.next%>">
                                    Next
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <%}
                                    else{%>
                            <li class="page-btn next-page disabled">
                                <a href="">
                                    Next
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <%}%>   
                                </ul>
                            </div>
                             <!--#endregion-->
                        </div>

                        <!--#region Ads-->
                        <%- include('layouts/ads/blogads')%>
                            <!--#endregion-->

                    </div>
                </div>
            </div>
        </section>
    </main>

    <!--#region Footer-->
    <%- include('layouts/common/socialicons')%>

    <%- include('layouts/footer/footer')%>

    <%- include('layouts/common/chatBot')%>

    <%- include('layouts/common/SelectedCandidatesBox')%>
    <!--#endregion-->

</body>

</html>