<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Georgians Academy Specializes in coaching for Defence. Best SSB Coaching in Delhi</title>

    <link href="css/headerFooter.css" type="text/css" rel="Stylesheet" />
    <link href="css/grid.css" type="text/css" rel="Stylesheet" />
    <link href="css/main.css" type="text/css" rel="Stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="js/static.js"></script>
</head>

<body>

    <!--#region Header-->
    <%- include('layouts/header/header')%>
    <!--#endregion-->

    <!--#region Main Page Display-->
    <main>
        <section class="gaArmyOfficerEntry">
            <div class="card-group row">
                <div class="card col-sm-9">
                    <div class="card-body">
                        <div class="container">

                            <div class="table-wrap">
                                <h4 class="table-title"> ACDS/OTA WRITTEN EXAM PREPARATION

                                </h4>
                                <h5>
                                    CDS/OTA Written Exam Including SSC (Women Non- Technical) Course Written Syllabus
                                </h5>
                                <table class="table table-hover table-bordered cm-tables">
                                    <thead>
                                        <tr class="info">
                                            <th>Paper-1 (English)</th>
                                            <th>Paper-2 (G.K)</th>
                                            <th>Paper-3 (Maths)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Synonyms</td>
                                            <td>History</td>
                                            <td>Algebra</td>
                                        </tr>
                                        <tr>
                                            <td>Antonyms</td>
                                            <td>Current Affairs</td>
                                            <td>Trigonometry</td>
                                        </tr>
                                        <tr>
                                            <td>Ordering of Words</td>
                                            <td>Geography</td>
                                            <td>Statistics</td>
                                        </tr>
                                        <tr>
                                            <td>Comprehension</td>
                                            <td>Physics</td>
                                            <td>Arithmetic</td>
                                        </tr>
                                        <tr>
                                            <td>Spotting Errors</td>
                                            <td>Chemistry</td>
                                            <td>Mensuration</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>Biology</td>
                                            <td>Geometry</td>
                                        </tr>
                                    </tbody>


                                </table>

                            </div>

                            <div class="table-wrap">
                                <h4 class="table-title"> Examination Details

                                </h4>
                                <table class="table table-hover table-bordered cm-tables">
                                    <thead>
                                        <tr class="info">
                                            <th>Subject</th>
                                            <th>Duration</th>
                                            <th>Marks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>English</td>
                                            <td>2 hours</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>General Ability</td>
                                            <td>2 hours</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>Mathematics</td>
                                            <td>2 hours</td>
                                            <td>100</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <p><b>NOTE:</b> For OTA Candidates Mathematics Paper is not applicable</p>

                            </div>

                            <div class="table-wrap">
                                <h4 class="table-title"> Schedule for Examination:-

                                </h4>
                                <table class="table table-hover table-bordered cm-tables">
                                    <thead>
                                        <tr class="info">
                                            <th>Paper</th>
                                            <th>Availability of Forms </th>
                                            <th>Date of Exam</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>CDS-1</td>
                                            <td>Nov to Dec</td>
                                            <td>Mid Feb</td>
                                        </tr>
                                        <tr>
                                            <td>CDS-2</td>
                                            <td>May to June</td>
                                            <td>Oct/Nov</td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>

                            <div class="table-wrap">
                                <h4 class="table-title"> Fee structure for CDS</h4>
                                <h5>
                                    (Our Batches starts first of every month)
                                </h5>
                                <table class="table table-hover table-bordered cm-tables">
                                    <thead>
                                        <tr class="info">
                                            <th>Course Name</th>
                                            <th>Duration</th>
                                            <th>Batch Time</th>
                                            <th>Fee</th>
                                        </tr>

                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>Crash Course</td>
                                            <td>30 days</td>
                                            <td>9:30am - 2:30pm</td>
                                            <td>6000/-</td>
                                        </tr>

                                        <tr>
                                            <td>Comprehensive Course</td>
                                            <td>90 days</td>
                                            <td>9:30am - 2:30pm</td>
                                            <td>18000/-</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <p>We Provide personality development and communication skill class to all
                                    candidates.</p>
                                <div class="nots-list">
                                    <p>
                                        Separate <strong>Hostel/PG</strong> Facility for outstation
                                        <strong>Boys/Girls</strong>
                                    </p>
                                    <ul>

                                        <li>
                                            Charge: Rs 7500/month for Boys- <strong>(including breakfast, lunch and
                                                dinner)</strong>
                                        </li>
                                        <li>
                                            Charge: Rs 8000/month for Girls- <strong>(including breakfast, lunch and
                                                dinner)</strong>
                                        </li>
                                    </ul>


                                    <p>
                                        Students of RMS/ Sainik School/Navodaya Vidyalaya/ Kendriya Vidyalaya/ Govt
                                        schools will be given 30% Discounts in 2 Months course
                                    </p>

                                </div>

                                <p>
                                    <strong> NOTE : Students of EWS Category are given 30% Discount.</strong>
                                </p>

                            </div>

                        </div>
                    </div>
                </div>

                <!--#region Page data -->
                <%- include('layouts/ads/ads')%>
                <!--#endregion-->

            </div>
        </section>
    </main>
    <!--#endregion-->

    <!--#region Footer-->

    <%- include('layouts/common/map')%>

    <%- include('layouts/footer/footer')%>

    <%- include('layouts/common/chatBot')%>

    <%- include('layouts/common/SelectedCandidatesBox')%>
    <!--#endregion-->

</body>

</html>