<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Georgians Academy Specializes in coaching for Defence. Best SSB Coaching in Delhi</title>

    <link rel="stylesheet" href="css/headerFooter.css" />
    <link rel="stylesheet" href="css/grid.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <script src="js/main.js"></script>
    <script src="js/static.js"></script>
    <script src="js/slick.min.js"></script>

</head>

<body>

    <!--#region Header-->
    <%- include('layouts/header/header')%>
    <!--#endregion-->

    <!--#region Main Page Display-->

    <main>
        <section class="gaArmyOfficerEntry">
            <div class="card-group row">
                <!--#region Page data -->
                <div class="home-left-section card col-sm-9">
                    <div class="card-body">
                        <div class="container">

                            <div class="section">
                                <div class="pdfs-box">

                                    <%  displayData.documentlist.forEach((ele)=>{  %>
                                    <div class="pdfs-item">
                                        <h4>
                                            Current Affairs For Month of <%=ele[1]%> <%=ele[0]%> </h4>
                                        <a href="assets/pdf/news/currentaffairs/monthly/<%=ele[2]%>" class="btn"
                                            download>Download Now</a>
                                        <a href="assets/pdf/news/currentaffairs/monthly/<%=ele[2]%>" class="btn"
                                            target="_blank">open</a>
                                    </div>
                                    <%});%>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--#endregion-->

                <!--#region Page data -->
                <%- include('layouts/ads/ads')%>
                <!--#endregion-->
            </div>
        </section>
    </main>

    <!--#endregion-->

    <!--#region Footer-->
    <%- include('layouts/common/map')%>

    <%- include('layouts/footer/footer')%>

    <%- include('layouts/common/chatBot')%>

    <%- include('layouts/common/SelectedCandidatesBox')%>
    <!--#endregion-->
</body>

</html>