<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Georgians Academy Specializes in coaching for Defence. Best SSB Coaching in Delhi</title>

    <link href="css/headerFooter.css" type="text/css" rel="Stylesheet" />
    <link href="css/grid.css" type="text/css" rel="Stylesheet" />
    <link href="css/main.css" type="text/css" rel="Stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="js/static.js"></script>
</head>

<body>

    <!--#region Header-->
    <%- include('layouts/header/header')%>
    <!--#endregion-->

    <!--#region Main Page Display-->
    <main>
        <section class="gaArmyOfficerEntry">
            <div class="card-group row">
                <div class="card col-sm-9">
                    <div class="card-body">
                        <div class="container">

                            <div class="table-wrap">
                                <h4 class="table-title">INDIAN NAVY</h4>

                                <p><b>SYLLABUS (GROUP &#8216;Y&#8217;) </b></p>
                                <p><b>Science</b></p>
                                <p>Physical World and Measurement, Kinematics, Laws of Motion, Work, Energy and Power,
                                    Motion of System of Particles and Rigid Body / Gravitation, Mechanics of Solids and
                                    Fluids, Heat Thermodynamics, Oscillations, Waves, Electrostatics, Current
                                    Electricity, Magnetic Effect of Current and Magnetism, Electromagnetic Induction and
                                    Alternating Current, Electromagnetic Waves, Optics, Dual Nature of Matter and
                                    Radiations, Atomic Nucleus / Solid and Semi-Conductor Devices, Principles of
                                    Communication, Metals and Non Metals, Organic Chemistry, Food, Nutrition and Health,
                                    Physiology and Human Diseases, Computer Science</p>
                                <p><b>Mathematics</b></p>
                                <p>Relations and Functions, Logarithms, Complex Numbers, Quadratic Equations, Sequences
                                    and Series, Trigonometry, Cartesian System of Rectangular Coordinates, Straight
                                    Lines Family of Straight Lines, Circles, Conic Sections, Permutations and
                                    Combinations, Vectors, Exponential and Logarithmic Series, Sets and Set Theory,
                                    Statistics, Introduction to Three Dimensional Geometry, Probability Function, Limits
                                    and Continuity, Differentiation, Applications of Derivatives, Indefinite Integrals
                                    Binomial Theorem, Matrices, Determinants, Definite Integrals</p>
                                <p><b>English</b></p>
                                <p>Passage, Preposition, Correction of sentences, Change active to passive/passive to
                                    active voice, Change direct to indirect/indirect to direct, Verbs/Tense/Non Finites,
                                    Punctuation, Substituting phrasal verbs for expression, Synonyms and Antonyms,
                                    Meanings of difficult words, Use of adjective, Compound preposition, Determiners(use
                                    of a, the, any etc), Use of pronouns.</p>
                                <p><b>General Awareness</b></p>
                                <p>Indian geography, Important National Facts about India, Heritage and Arts, Dance,
                                    History, Languages, Capitals and Currencies, National : Bird / Animal / Sport /
                                    Flower / Anthem / Song / Flag / Monuments, Eminent Personalities, Common Names, Full
                                    forms and Abbreviations, Discoveries, Diseases and Nutrition, Award and Authors,
                                    Sports championships / Winners / Terms / No of Players, Defence, Wars and
                                    Neighbours, Current Affairs.</p>

                            </div>

                            <div class="table-wrap">
                                <h4 class="table-title"> Fee structure</h4>
                                <h5>
                                    (Our Batches starts first of every month)
                                </h5>
                                <table class="table table-hover table-bordered cm-tables">
                                    <thead>
                                        <tr class="info">
                                            <th>Course Name</th>
                                            <th>Duration</th>
                                            <th>Batch Time</th>
                                            <th>Fee</th>
                                        </tr>

                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>Crash Course</td>
                                            <td>30 days</td>
                                            <td>9:30am - 2:30pm</td>
                                            <td>6000/-</td>
                                        </tr>

                                        <tr>
                                            <td>Comprehensive Course</td>
                                            <td>90 days</td>
                                            <td>9:30am - 2:30pm</td>
                                            <td>18000/-</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <p>We Provide personality development and communication skill class to all
                                    candidates.</p>
                                <div class="nots-list">
                                    <p>
                                        Separate <strong>Hostel/PG</strong> Facility for outstation
                                        <strong>Boys/Girls</strong>
                                    </p>
                                    <ul>

                                        <li>
                                            Charge: Rs 7500/month for Boys- <strong>(including breakfast, lunch and
                                                dinner)</strong>
                                        </li>
                                        <li>
                                            Charge: Rs 8000/month for Girls- <strong>(including breakfast, lunch and
                                                dinner)</strong>
                                        </li>
                                    </ul>


                                    <p>
                                        Students of RMS/ Sainik School/Navodaya Vidyalaya/ Kendriya Vidyalaya/ Govt
                                        schools will be given 30% Discounts in 2 Months course
                                    </p>

                                </div>

                                <p>
                                    <strong> NOTE : Students of EWS Category are given 30% Discount.</strong>
                                </p>

                            </div>

                        </div>
                    </div>
                </div>

                <!--#region Page data -->
                <%- include('layouts/ads/ads')%>
                <!--#endregion-->

            </div>
        </section>
    </main>
    <!--#endregion-->

    <!--#region Footer-->

    <%- include('layouts/common/map')%>

    <%- include('layouts/footer/footer')%>

    <%- include('layouts/common/chatBot')%>

    <%- include('layouts/common/SelectedCandidatesBox')%>
    <!--#endregion-->

</body>

</html>