<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Georgians Academy Specializes in coaching for Defence. Best SSB Coaching in Delhi</title>

    <link href="css/headerFooter.css?ver=02012020" type="text/css" rel="Stylesheet" />
    <link href="css/grid.css?ver=02012020" type="text/css" rel="Stylesheet" />
    <link href="css/main.css?ver=01022020" type="text/css" rel="Stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="js/static.js"></script>
</head>

<body>
    <!--#region Header-->
    <%- include('layouts/header/header')%>
    <!--#endregion-->

    <!--#region Main Page Display-->
    <main>
        <section class="gaArmyOfficerEntry">
            <div class="card-group row">
                <!--#region Page data -->
                <div class="card col-sm-9">
                    <div class="card-body">
                        <div class="container">
                            <h3 class="gaArmyOfficerEntryHeading">Indian Navy: Officers Entry Routes</h3>
                            <p>The Indian Navy Officers Entry is a well-balanced and cohesive three dimensional force,
                                capable of operating above, on and under surface of the oceans efficiently safeguarding
                                our national interests. The Chief of the Naval Staff (CNS) exercises operational and
                                administrative control of the Indian Navy from Integrated Headquarters of MOD(Navy). He
                                is assisted by the Vice Chief of the Naval Staff (VCNS) and three other Principal Staff
                                Officers, namely the Deputy Chief of the Naval Staff (DCNS), the Chief of Personnel
                                (COP) and the Chief of Material (COM). The Navy has the following three commands, each
                                under the control of a Flag Officer Commanding-in-Chief:-</p>
                            <ul class='gaLisItem'>
                                <li>The Western Naval Command (Headquarters at Mumbai).</li>
                                <li>The Eastern Naval Command (Headquarters at Visakhapatnam)</li>
                                <li>The Southern Naval Command (Headquarters at Kochi)</li>
                            </ul>
                            <img src="Assets/Images/infoPages/navy1.jpg">
                            <p>The Western and the Eastern Naval Command are operational commands and exercise control
                                over operations in the Arabian Sea and the Bay of Bengal respectively. The Southern
                                Command is designed as the Training Command. The cutting edge of the Indian Navy is its
                                two fleets, namely the Western Fleet based at Mumbai and the Eastern Fleet based at
                                Visakhapatnam. Besides the fleets, there is a flotilla based at Mumbai, Visakhapatnam
                                and Port Blair (A & N Islands) that provides Local Naval Defence in the respective
                                region. Naval ships are also based at other ports along the east and the west coast of
                                India and the island territories thus ensuring continued naval presence in the areas of
                                national interest. Further, there are various Naval Officer-in-Charges (NOIC), under
                                each command, responsible for the Local naval Defence of ports under their respective
                                jurisdictions. Indian Navy provides various opportunities to young men and women from
                                diverse educational back ground to live a career full of passion and adventure. The
                                details of all the entries are given below.</p>
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="thead-light">
                                        <th>Type of Entry</th>
                                        <th width="15%">Unmarried Men/Women</th>
                                        <th width="15%">Age Limit</th>
                                        <th>Educational Qualification</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>(NDA)(Through UPSC)</td>
                                        <td>Men</td>
                                        <td>16½ - 19</td>
                                        <td>10+2 or equivalent with Physics & Maths</td>
                                    </tr>
                                    <tr>
                                        <td>(10+2) Executive Naval Academy,(Through UPSC)</td>
                                        <td>Men</td>
                                        <td>16½ - 19</td>
                                        <td>10+2 or equivalent with PCM (70%)</td>
                                    </tr>
                                    <tr>
                                        <td>Graduate Special Entry Scheme(GSES) Naval Academy,(Through UPSC)</td>
                                        <td>Men</td>
                                        <td>19 - 22</td>
                                        <td>B.Sc (Physics & Maths) or BE</td>
                                    </tr>
                                    <tr>
                                        <td>NCC Special Entry Naval Academy, Goa</td>
                                        <td>Men</td>
                                        <td>19 - 24</td>
                                        <td>B.Sc (Physics & Maths) or BE with Naval Wing Senior Div NCC 'C' Certificate
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Direct Entry Naval Armament Inspection (NAI) Cadre</td>
                                        <td>Men</td>
                                        <td>19½ - 25</td>
                                        <td>Degree in Electronics / Elect / Mech Engg or Post Graduate Degree in
                                            Electronics or Physics</td>
                                    </tr>
                                    <tr>
                                        <td>Direct Entry Law Cadre</td>
                                        <td>Men 18 - 24 Yrs</td>
                                        <td>22 - 27</td>
                                        <td>A Degree in Law qualifying for enrolment as an Advocate under the Advocates
                                            Act 1961 with minimum 55% marks</td>
                                    </tr>
                                    <tr>
                                        <td>Short Service Commission (SSC) Executive/ Hydrography</td>
                                        <td>Men</td>
                                        <td>19½ - 25</td>
                                        <td>Graduate (with Physics & Maths at 10+2 with 55% marks).</td>
                                    </tr>
                                    <tr>
                                        <td>SSC -ATC Men & Women</td>
                                        <td>Men & Women ∗</td>
                                        <td>19½ - 25</td>
                                        <td>Ist Class Science Graduate with Physics & Maths or MSc with Physics or Maths
                                            with minimum of 55% marks.</td>
                                    </tr>
                                    <tr>
                                        <td>SSC Law Cadre</td>
                                        <td>Men & Women ∗</td>
                                        <td>22 - 27</td>
                                        <td>A Degree in Law qualifying for enrolment as an Advocate under the Advocates
                                            Act 1961 with minimum 55% marks</td>
                                    </tr>
                                    <tr>
                                        <td>SSC Logistics Cadre</td>
                                        <td>Men & Women ∗</td>
                                        <td>19½ - 25</td>
                                        <td>B.A (Economics), B.Com or B.Sc (Physics and Maths) or BSc(IT), CA/ ICWA,
                                            Catering Technology or
                                            BCA/ MCA, or B.E/ B.Tech in Mechanical, Marine, Electrical, Electronics,
                                            Civil, Computers, IT, Architecture with minimum 60% marks.</td>
                                    </tr>
                                    <tr width="100%">
                                        <th>Education Branch</th>
                                    </tr>
                                    <tr>
                                        <td>Permanent Commission (PC)</td>
                                        <td>Men</td>
                                        <td>21 - 25</td>
                                        <td>A Master's Degree in following with at least 50% marks Physics (with Maths
                                            in B Sc) or Maths (with Physics in B Sc) OR</td>
                                    </tr>

                                    <tr>
                                        <td>Short Service Commission (SSC)</td>
                                        <td>Men & Women ∗</td>
                                        <td>21 - 25</td>
                                        <td>B.E/ B.Tech in Mech/ Electrical/ Electronics IT/ Computer Science with 60%
                                            marks.</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered ">
                                <thead>
                                    <tr class="thead-light">
                                        <th>
                                            <ol>
                                                <li>The duration of Short Service Commission is 10 years, extendable to
                                                    14 years.</li>
                                                <li>The above information is subject to change. The training of officers
                                                    selected through the above entries normally commences in the month
                                                    of Feb/August every year. Advertisements calling for applications
                                                    from eligible candidates are published in Employment News and
                                                    important Newspaper in Apr/May and Sep to Nov. The selection
                                                    procedure includes UPSC Examination [for NDA, 10+2 (X) and Graduate
                                                    Special Entry], interview at Services Selection Board and medical
                                                    examination.</li>
                                                <li>Women* implies that it is a Short Service Commission for Women</li>
                                                <li>Further information can also be obtained from:
                                                    Directorate of Manpower Planning and Recruitment, Naval
                                                    Headquarters, New Delhi-110011
                                                    Phones : (011) 23011213 / 23014316 / 23792933
                                                    Fax : (011) 23014308</li>
                                            </ol>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            </td>
                            </tr>
                        </div>
                    </div>
                </div>
                <!--#endregion-->

                <!--#region Page data -->
                <%- include('layouts/ads/ads')%>
                <!--#endregion-->
            </div>
        </section>
    </main>
    <!--#endregion-->

    <!--#region Footer-->

    <%- include('layouts/common/map')%>

    <%- include('layouts/footer/footer')%>

    <%- include('layouts/common/chatBot')%>

    <%- include('layouts/common/SelectedCandidatesBox')%>
    <!--#endregion-->
</body>

</html>