<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Georgians Academy Specializes in coaching for Defence. Best SSB Coaching in Delhi</title>

    <link href="css/headerFooter.css?ver=02012020" type="text/css" rel="Stylesheet" />
    <link href="css/grid.css?ver=02012020" type="text/css" rel="Stylesheet" />
    <link href="css/main.css?ver=01022020" type="text/css" rel="Stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="js/static.js"></script>
</head>

<body>
    <!--#region Header-->
    <%- include('layouts/header/header')%>
    <!--#endregion-->

    <!--#region Main Page Display-->

    <main>
        <section class="gaArmyOfficerEntry">
            <div class="card-group row">
                <!--#region Page data -->
                <div class="card col-sm-9">
                    <div class="card-body">
                        <div class="container">
                            <h3 class="gaArmyOfficerEntryHeading">Indian Navy Soldier's Entry Routes</h3>
                            <p>Indian Navy Soldier's Entry Routes which functions under the Directorate of Manpower
                                Planning and Recruitment located at the Integrated Headquarters of Ministry of Defence
                                (Navy), New Delhi. Its sphere of responsibilities includes the recruitment of sailors
                                into the Indian Navy and formulation of related policies in this regard.</p>
                                <img src="Assets/Images/infoPages/navy2.jpg">
                                <p>The recruitment into the sailors’ cadre of the Indian Navy is carried out twice a year
                                under following categories:</p>
                            <p><b>Artificer Apprentice (AA)</b></p>
                            <p>Educational Qualification:</p>
                            <p>(a) 1st condition - Applicant should have passed Class 12th or equivalent with subjects
                                of Physics, Chemistry and Mathematics.</p>
                            <p>(b) 2nd condition - Minimum qualification marks required for applying for a particular
                                type of entry into Indian Navy may vary and the same would be promulgated in the
                                advertisement in Newspapers and this website on as required basis.</p>

                            <p><b>Age</b></p>
                            <p>The applicant should be of the age between 17-20 years (ie. he should not be less than 17
                                or more than 20 years on the date of enrollment).</p>
                            <h4>Direct Entry diploma Holders (DEDH)</h4>
                            <p><b>Educational Qualification:</b></p>
                            <p>Applicant should have completed a Three-Year diploma from a Government of India
                                recognised Institute / Polytechnic, with minimum 50% marks in Mechanical or Electrical
                                or Electronics or Telecommunications or Aeronautical or Ship Building or Instrumentation
                                Engineering or Metallurgy or in any other subject as advertised for each batch.</p>
                            <p>Age - The applicant should be of the age between 18-22 years (ie. he should not be less
                                than 18 or more than 22 years on the date of enrollment).</p>
                            <h4>Matric Recruit (MR), Musician (MUS),Non Matric Recruit
                                (NMR)</h4>
                            <p><b>Branches</b></p>
                            <p><b>MRs –</b> Steward, Cooks</p>
                            <p><b>NMRs – </b> Topass</p>
                            <p><b>Musicians - </b>Musicians</p>
                            <p><b>Age - </b>The applicant should be of the age between 17-21 years (ie. he should not be
                                less than 17 or more than 21 years on the date of enrolment).</p>
                            <p><b><em>NOTE</em>:Relaxation of age – </b>Against sports quota entry, the upper age
                                relaxation for outstanding sportsmen, who have played at International / National /
                                State level may be considered upto a period of 12 months.</p>
                            <p><b>Educational Qualification –</b></p>
                            <p>(a)<b> MRs</b> – Steward / Cooks - Applicant should have passed 10th class examination.
                            </p>
                            <p>(b)<b> NMRs </b> – Topass - Applicant should have passed 6th class examination.</p>
                            <p>(c)<b> Musicians</b> – Applicant should have passed 10th class examination and should be
                                able to exhibit an aptitude for music.</p>
                        </div>
                    </div>
                </div>

                <!--#endregion-->

                <!--#region Page data -->
                <%- include('layouts/ads/ads')%>
                <!--#endregion-->


            </div>
        </section>
    </main>
    <!--#endregion-->

    <!--#region Footer-->

    <%- include('layouts/common/map')%>

    <%- include('layouts/footer/footer')%>

    <%- include('layouts/common/chatBot')%>

    <%- include('layouts/common/SelectedCandidatesBox')%>
    <!--#endregion-->


</body>

</html>