<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Georgians Academy Specializes in coaching for Defence. Best SSB Coaching in Delhi</title>

    <link rel="stylesheet" href="css/headerFooter.css" />
    <link rel="stylesheet" href="css/grid.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <script src="js/main.js"></script>
    <script src="js/static.js"></script>
    <script src="js/slick.min.js"></script>

</head>

<body>

    <!--#region Header-->
    <%- include('layouts/header/header')%>
    <!--#endregion-->

    <!--#region Main Page Display-->
    <main>
        <section class="gaArmyOfficerEntry">
            <div class="card-group row">
                <div class="home-left-section card col-sm-9">
                    <div class="card-body">
                        <div class="container">

                            <div class="table-wrap">
                                <h4 class="table-title"> NDA WRITTEN EXAM PREPARATION</h4>

                                <table class="table table-hover table-bordered cm-tables">
                                    <thead>
                                        <tr class="info">
                                            <th>Paper – (Maths) Topics Covered </th>
                                            <th>Paper-2 (General Ability)Topics Covered</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Algebra</td>
                                            <td>Physics</td>
                                        </tr>
                                        <tr>
                                            <td>Trigonometry</td>
                                            <td>Chemistry</td>
                                        </tr>
                                        <tr>
                                            <td>Probability</td>
                                            <td>Biology</td>
                                        </tr>
                                        <tr>
                                            <td>Matrices &amp; determinants</td>
                                            <td>History</td>
                                        </tr>
                                        <tr>
                                            <td>Analytical Geometry</td>
                                            <td>Indian polity &amp; Economy</td>
                                        </tr>
                                        <tr>
                                            <td>Differential Calculus</td>
                                            <td>Geography</td>
                                        </tr>
                                        <tr>
                                            <td>Integral Calculus</td>
                                            <td>English</td>
                                        </tr>
                                        <tr>
                                            <td>Vector</td>
                                            <td>Current Affairs</td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>

                            <div class="table-wrap">
                                <h4 class="table-title"> Examination Details

                                </h4>
                                <table class="table table-hover table-bordered cm-tables">
                                    <thead>
                                        <tr class="info">
                                            <th>Subject</th>
                                            <th>Duration</th>
                                            <th>Marks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Mathematics</td>
                                            <td>2 ½ hours</td>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <td>General Ability</td>
                                            <td>2 ½ hours</td>
                                            <td>600</td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>


                            <div class="table-wrap">
                                <h4 class="table-title"> Schedule for UPSC Exam

                                </h4>
                                <table class="table table-hover table-bordered cm-tables">
                                    <thead>
                                        <tr class="info">
                                            <th>Paper</th>
                                            <th>Availability Of Forms</th>
                                            <th>Date Of Exam</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>NDA-1</td>
                                            <td>Dec/Jan</td>
                                            <td>April</td>
                                        </tr>
                                        <tr>
                                            <td>NDA-2</td>
                                            <td>May/June</td>
                                            <td>August/September</td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>

                            <div class="table-wrap">
                                <h4 class="table-title"> Fee structure for NDA Course</h4>
                                <h5>
                                    (Our Batches starts first of every month)
                                </h5>
                                <table class="table table-hover table-bordered cm-tables">
                                    <thead>
                                        <tr class="info">
                                            <th>Course Name</th>
                                            <th>Duration</th>
                                            <th>Batch Time</th>
                                            <th>Fee</th>
                                        </tr>

                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>Crash Course</td>
                                            <td>30 days</td>
                                            <td>9:30am - 2:30pm</td>
                                            <td>6000/-</td>
                                        </tr>

                                        <tr>
                                            <td>Comprehensive Course</td>
                                            <td>90 days</td>
                                            <td>9:30am - 2:30pm</td>
                                            <td>18000/-</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <p>We Provide personality development and communication skill class to all
                                    candidates.</p>
                                <div class="nots-list">
                                    <p>
                                        Separate <strong>Hostel/PG</strong> Facility for outstation
                                        <strong>Boys/Girls</strong>
                                    </p>
                                    <ul>

                                        <li>
                                            Charge: Rs 7500/month for Boys- <strong>(including breakfast, lunch and
                                                dinner)</strong>
                                        </li>
                                        <li>
                                            Charge: Rs 8000/month for Girls- <strong>(including breakfast, lunch and
                                                dinner)</strong>
                                        </li>
                                    </ul>


                                    <p>
                                        Students of RMS/ Sainik School/Navodaya Vidyalaya/ Kendriya Vidyalaya/ Govt
                                        schools will be given 30% Discounts in 2 Months course
                                    </p>

                                </div>

                                <p>
                                    <strong> NOTE : Students of EWS Category are given 30% Discount.</strong>
                                </p>

                            </div>

                        </div>
                    </div>
                </div>

                <!--#region Page data -->
                <%- include('layouts/ads/ads')%>
                <!--#endregion-->

            </div>
        </section>
    </main>
    <!--#endregion-->

    <!--#region Footer-->

    <%- include('layouts/common/map')%>

    <%- include('layouts/footer/footer')%>

    <%- include('layouts/common/chatBot')%>

    <%- include('layouts/common/SelectedCandidatesBox')%>
    <!--#endregion-->

</body>

</html>