<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Georgians Academy Specializes in coaching for Defence. Best SSB Coaching in Delhi</title>

    <link href="css/headerFooter.css?ver=02012020" type="text/css" rel="Stylesheet" />
    <link href="css/grid.css?ver=02012020" type="text/css" rel="Stylesheet" />
    <link href="css/main.css?ver=01022020" type="text/css" rel="Stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="js/static.js"></script>
</head>

<body>
    <!--#region Header-->
    <%- include('layouts/header/header')%>
    <!--#endregion-->

    <!--#region Main Page Display-->

    <main>
        <section class="gaArmyOfficerEntry">
            <div class="card-group row">
                <!--#region Page data -->
                <div class="card col-sm-9">
                    <div class="card-body">
                        <div class="container">
                            <h3 class="gaArmyOfficerEntryHeading">CENTRAL ARMED POLICE FORCES "Assistant Commandant"
                                (CAPF)</h3>
                            <p class="heading"><b>The Assistant Commandant written examination Selection Procedure &
                                    Scheme:</b></p>
                            <h4>(i) Written Examination:</h4>
                            <p>The Assistant Commandant written examination conducted by the Union Public Service
                                Commission (UPSC), and it comprises two papers. Paper I and Paper II.</p>
                            <p><b>Paper I : General Ability and Intelligence - 250 Marks</b></p>
                            <p>The questions in this paper will be of Objective (Multiple Answers) Type in which the
                                questions will be set in English as well as Hindi.</p>
                            <p><b>NOTE-I:</b> Candidates should ensure that in Paper II they write the answers only in
                                the medium allowed the Commission for the different Components as mentioned above. No
                                credit will be given for answers written in a medium other than the one allowed in the
                                Paper. Candidates will be required to indicate the medium of Essay Component in the
                                Attendance Lists and on the Answer Book. No credit will be given for the Essay Component
                                if the candidate indicates a medium on the Attendance List and on the Answer Book other
                                than the one in which he/she has written the Essay.<p>
                                    <p><b>NOTE-II:</b> There will be minimum qualifying marks separately in each Paper
                                        as may be fixed by Commission in their discretion. Paper-I will be evaluated
                                        first and evaluation of Paper-II will be done only of those candidates who
                                        obtain the minimum qualifying marks in Paper-I.</p>

                                    <h4>(ii) Physical Standards/Physical Efficiency Tests and Medical Standards Tests:
                                    </h4>

                                    <p>Candidates who are declared qualified in the written examination will be summoned
                                        for Physical Standards/Physical Efficiency Tests and Medical Standards Tests.
                                        Those candidates who meet the prescribed Physical Standards, specified in
                                        Appendix-VI, will be put through the Physical Efficiency Tests as indicated
                                        below:</p>
                                    <p><b>Physical Efficiency Tests (PET)</b></p>
                                    <ul class="gaLisItem">
                                        <li><b>(a) 100 Meters race:</b>
                                            <ul style="list-style-type:none">
                                                <li>Males: In 16 seconds</li>
                                                <li>Females: In 18 Seconds</li>
                                            </ul>
                                        </li>

                                        <li><b>(b) 800 Meters race:</b>
                                            <ul style="list-style-type:none">
                                                <li>Males: In 3 minutes 45 seconds</li>
                                                <li>Females: In 4 minutes 45 seconds</li>
                                            </ul>
                                        </li>

                                        <li><b>(c) Long Jump (3 chances):</b>
                                            <ul style="list-style-type:none">
                                                <li>Males: 3.5 Meters</li>
                                                <li>Females:3.0 Meters</li>
                                            </ul>
                                        </li>

                                        <li><b>(d) Shot Put (7.26 Kgs.):</b>
                                            <ul style="list-style-type:none">
                                                <li>Males: 4.5 Meters</li>
                                                <li>Females:---</li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <p><b>Pregnancy at the time of PET will be a disqualification and pregnant female
                                            candidate will be rejected.</b></p>
                                    <p>Medical Standards Tests, to check the standards specified in Appendix-VI, will be
                                        conducted only in respect of candidates who are declared qualified in the
                                        Physical Efficiency Test.</p>
                                    <p>The Physical Standards/Physical Efficiency Tests and Medical Standards Tests will
                                        be conducted under the supervision of a Nodal Authority to be appointed by the
                                        Ministry of Home Affairs. These tests will be conducted at various centres to be
                                        notified after the results of the written examination. Appeals will be
                                        entertained only against the Medical Standards Tests and will have to be made to
                                        the Appellate Authority designated by the Ministry of Home Affairs within a
                                        period of 15 days from the date of declaration of the results of these tests.
                                    </p>

                                    <h4>(iii) Interview/Personality Test :</h4>
                                    <p>Candidates who are declared qualified in the Medical Standards Tests, will be
                                        called for Interview/Personality Test to be conducted by Union Public Service
                                        Commission. Candidates who are declared medically unfit but allowed to appear
                                        before the "Review Medical Board" on their appeal by the Appellate Authority
                                        will be called for Interview/Personality Tests provisionally. The
                                        Interview/Personality Test will carry 150 Marks. Candidates who are short-listed
                                        for Interview/Personality Test, including those short-listed for
                                        Interview/Personality Test provisionally will be issued a Detailed Application
                                        Form (DAF) in which among other things, they will be required to indicate their
                                        preference of Forces. As female candidates are eligible for appointment to CRPF,
                                        CISF and SSB only, they will be required to indicate their preference for CRPF,
                                        CISF and SSB only.</p>

                                    <h4>(iv) Final Selection / Merit :</h4>
                                    <ul class="gaLisItem">
                                        <li><b>The merit list will be drawn on the basis of marks obtained by the
                                                candidates in the Written Examination and Interview/Personality
                                                Test.</b></li>
                                    </ul>

                                    <h3 class="gaArmyOfficerEntryHeading"><b>Syllabus of the Written Papers:</b>
                                    </h3>
                                    <h4>Paper I : General Ability and Intelligence:</h4>
                                    <p><b>The objective type questions with multiple choices in this paper will broadly
                                            cover the following areas:</b></p>
                                    <ol class="gaLisItem">
                                        <li><b>General Mental Ability:</b>The questions will be designed to test the
                                            logical reasoning,aptitude including numerical ability, and data
                                            interpretation.</li>
                                        <li><b>General Science:</b>The questions will be set to test general awareness,
                                            scientific comprehension and appreciation of scientific phenomena of
                                            everyday observation including new areas of importance like Information
                                            Technology, Biotechnology, Environmental Science.</li>
                                        <li><b>Current Events of National and International Importance:</b>The questions
                                            will test the awareness of current events of national and international
                                            importance in the broad areas of culture, music, arts, literature, sports,
                                            governance, societal and developmental issues, industry, business,
                                            globalisation and interplay among nations.</li>
                                        <li><b>Indian Polity and Economy:</b>The questions shall aim to test candidates'
                                            knowledge of the political system and the Constitution of India, social
                                            systems and public administration, economic development in India, regional
                                            and international security issues and human rights including its indicators.
                                        </li>
                                        <li><b>History of India:</b>The questions will broadly cover the subject in its
                                            social, economic and aspects. This shall also include the areas of growth of
                                            nationalism and freedom movement.</li>
                                        <li><b>Indian and World Geography:</b>The questions shall cover the physical,
                                            social and economic of geography pertaining to India and the World.</li>
                                    </ol>
                                    <h4>Paper II : General Studies, Essay and Comprehension.</h4>
                                    <p><b>Part-A-</b>Essay questions which are to be answered in long narrative form
                                        either in Hindi or totalling 80 Marks. The indicative topics are modern Indian
                                        history especially of the freedom struggle, geography, polity and economy,
                                        knowledge of security and human rights issues, and analytical ability.</p>
                                    <p><b>Part-B-</b>Comprehension, precis writing, other communications/language skills
                                        to be attemptedEnglish only (Marks 120)- The topics are Comprehension passages,
                                        precis writing, developing counter arguments, simple grammer and other aspects
                                        of language testing.</p>
                                    <p><b>Every year Staff selection conducts recruitment exam for the post of Sub
                                            Inspector in Delhi Police and CAPF -Central Armed Police Forces viz ITBP,
                                            CRPF, BSF, SSB, CISF.</b></p>

                                    <h3 class="gaArmyOfficerEntryHeading"><b>Eligibility For SSC CPO SI Exam</b>
                                    </h3>
                                    <p><b>Nationality :</b></p>
                                    <p>(a) a citizen of India, or (b) a subject of Nepal, or (c) a subject of Bhutan, or
                                        (d) a Tibetan refugee who came over to India, before the 1st January, 1962 with
                                        the intention of permanently settling in India, or (e) a person of Indian origin
                                        who has migrated from Pakistan, Burma, Sri Lanka, East African Countries of
                                        Kenya, Uganda, the United Republic of Tanzania ( Formerly Tanganyika and
                                        Zanzibar ),Zambia, Malawi, Zaire, Ethiopia and Vietnam with the intention of
                                        permanently settling in India.</p>

                                    <p><b>Age Limits :</b></p>
                                    <p>For the post of Sub-Inspector in Delhi Police & CAPFs and Assistant Sub Inspector
                                        in CISF is 20-25 years.</p>
                                    <p>For Age Relaxation View Notification.</p>

                                    <p><b>Qualification :</b></p>
                                    <ul class="gaLisItem">
                                        <li>Bachelor's degree from a recognised university or equivalent</li>
                                        <li>For Delhi Police SI Post-a valid Driving License for LMV(Motor cycle and on
                                            the date fixed for Physical Endurance and Standard Tests.</li>
                                    </ul>

                                    <h3 class="gaArmyOfficerEntryHeading"><b>Exam Pattern For SSC CPO SI Exam</b>
                                    </h3>
                                    <p>Earlier the SSC CPO Written exam was used to be conducted in Offline Mode and
                                        intwo phases. But from 2015 Both Paper I and Paper II will be conducted on the
                                        same day and most probably in Online Mode.</p>
                                    <p>A candidate has to go through the following tests for Final Selection :</p>
                                    <ol class="gaLisItem">
                                        <li>Written Exam [ Paper I and Paper II ]</li>
                                        <li>PET/Medical Exam</li>
                                        <li>Interview</li>
                                    </ol>
                                    <h3 class="gaArmyOfficerEntryHeading" style="text-align:center"><b>Written Exam</b>
                                    </h3>
                                    <p><b>Paper I :</b></p>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr class="thead-light">
                                                <th>&nbsp;</th>
                                                <th width="15%">Subject</th>
                                                <th width="15%">Number of Questions</th>
                                                <th>Maximum Marks</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Part-A</td>
                                                <td>General Intelligence and Reasoning</td>
                                                <td>50</td>
                                                <td>50</td>
                                            </tr>
                                            <tr>
                                                <td>Part-B</td>
                                                <td>General Knowledge and Awareness</td>
                                                <td>50</td>
                                                <td>50</td>
                                            </tr>
                                            <tr>
                                                <td>Part-C</td>
                                                <td>Quantitative Aptitude</td>
                                                <td>50</td>
                                                <td>50</td>
                                            </tr>
                                            <tr>
                                                <td>Part-D</td>
                                                <td>English Comprehension</td>
                                                <td>50</td>
                                                <td>50</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p><b>Paper II :</b></p>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr class="thead-light">
                                                <th>Subject</th>
                                                <th width="15%">Maximum Marks/Questions.</th>
                                                <th width="15%">Duration</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>English language & Comprehension</td>
                                                <td>200 marks/200 questions</td>
                                                <td>Two Hours</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p><b>Negative Marking- </b>Deduction of 0.25 marks will be made for each</p>

                                    <h3 class="gaArmyOfficerEntryHeading"><b>Exam Pattern For SSC CPO SI Exam</b>
                                    </h3>
                                    <p><b>Paper I</b></p>
                                    <p><b>A. General Intelligence & Reasoning:</b>It would include questions of both
                                        verbal non- verbal type. This component may include questions on analogies,
                                        similarities and differences, space visualization, spatial orientation, problem
                                        solving, analysis, judgment, decision making, visual memory, discrimination,
                                        observation, relationship concepts, arithmetical reasoning and figural
                                        classification, arithmetic number series, non-verbal series, coding and
                                        decoding, statement conclusion, syllogistic reasoning etc. The topics are,
                                        Semantic Analogy, Symbolic/Number Analogy, Figural Analogy, Semantic
                                        Classification, Symbolic/Number Classification, Figural Classification, Semantic
                                        Series, Number Series, Figural Series, Problem Solving, Word Building, Coding &
                                        de-coding, Numerical Operations, symbolic Operations, Trends, Space Orientation,
                                        Space Visualization, Venn Diagrams, Drawing inferences, Punched
                                        hole/pattern-folding & un-folding, Figural Pattern- folding and completion,
                                        Indexing Address matching, Date & city matching Classification of centre
                                        codes/roll numbers, Small & Capital letters/numbers coding, decoding and
                                        classification, Embedded Figures, Critical thinking, Emotional Intelligence,
                                        Social Intelligence, Other subtopics if any.</p>
                                    <p><b>B. General Awareness :</b>Questions in this component will be aimed at testing
                                        candidates general awareness of the environment around him and its application
                                        to society. Questions will also be designed to test knowledge of current events
                                        and of such matters of every day observations and experience in their scientific
                                        aspect as may be expected of any educated person. The test will also include
                                        questions relating to India and its neighboring countries especially pertaining
                                        to History,Culture, Geography, Economic Scene, General Polity, Indian
                                        Constitution, scientific Research etc.</p>
                                    <p><b>C. Quantitative Aptitude:</b>The questions will be designed to test the
                                        ability appropriate use of numbers and number sense of the candidate. The scope
                                        of the test will be computation of whole numbers, decimals, fractions and
                                        relationships between numbers, Percentage, Ratio and Proportion, Square roots,
                                        Averages, Interest, Profit & Loss, Discount, Partnership Business, Mixture and
                                        Allegation, Time and distance, Time & work, Basic algebraic identities of School
                                        Algebra and Elementary surds, Graphs of Linear Equations, Triangle and its
                                        various kinds of centres, Congruence and similarity of triangles, Circle and its
                                        chords, tangents, angles subtended by chords of a circle, common tangents to two
                                        or more circles, Triangle , Quadrilaterals, Regular Polygons, Circle, Right
                                        Prism, Right Circular Cone, Right Circular Cylinder, Sphere, Hemispheres,
                                        Rectangular Parallelepiped, Regular Right Pyramid with triangular or square
                                        base, Trigonometric ratio, Degree and Radian Measures, Standard Identities,
                                        Complementary angles,Heights and Distances, Histogram, Frequency polygon, Bar
                                        diagram & Pie chart.</p>

                                    <p><b>D. English Comprehension:</b>Candidates' ability to understand Heights
                                        Distances, Histogram, Frequency polygon, Bar diagram & Pie chart. correct
                                        English, his basic comprehension and writing ability, etc. would be tested.</p>

                                    <p><b>Paper II:</b></p>

                                    <p><b>English Language & Comprehension:</b>Questions in this components will be
                                        designedto test the candidate's understanding and knowledge of English Language
                                        and will be based on error recognition, filling in the blanks (using verbs,
                                        preposition, articles etc), Vocabulary, Spellings, Grammar, Sentence Structure,
                                        Synonyms, Antonyms, Sentence Completion, Phrases and Idiomatic use of Words,
                                        comprehension etc.</p>







                        </div>
                    </div>
                </div>
                <!--#endregion-->

                <!--#region Page data -->
                <%- include('layouts/ads/ads')%>
                <!--#endregion-->



            </div>
        </section>
    </main>
    <!--#endregion-->

    <!--#region Footer-->

    <%- include('layouts/common/map')%>

    <%- include('layouts/footer/footer')%>

    <%- include('layouts/common/chatBot')%>

    <%- include('layouts/common/SelectedCandidatesBox')%>
    <!--#endregion-->

</body>

</html>