<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=2.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Georgians Academy Specializes in coaching for Defence. Best SSB Coaching in Delhi</title>

        <link rel="stylesheet" href="css/headerFooter.css" />
        <link rel="stylesheet" href="css/grid.css" />
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/slick.css">
        <link rel="stylesheet" href="css/slick-theme.css">
        <script src="js/main.js"></script>
        <script src="js/static.js"></script>
        <script src="js/slick.min.js"></script>

</head>

<body>

        <!--#region Header-->
        <%- include('layouts/header/header')%>
        <!--#endregion-->

        <!--#region Main Page Display-->
        <main>
                <section class="gaArmyOfficerEntry">
                        <div class="card-group row">
                                <div class="home-left-section card col-sm-9">
                                        <div class="card-body">
                                                <!--#region Main Body -->
                                                <div class="container">
                                                        <h2>CDS Previous Year Question Papers with Answers</h2>
                                                        <br>
                                                        <p>Every year, millions of aspirants apply for NDA Written Exam,
                                                                but only few hundreds of
                                                                candidates get selected in NDA Written Exam. There are
                                                                many reasons for their
                                                                unsuccessfulness. It can be lack of practise, proper
                                                                guidance, lack of knowledge of
                                                                syllabus, etc. Practice of past year question papers is
                                                                also one of the main reasons.

                                                                Candidates, who are going to attempt upcoming NDA NA II
                                                                Sept Exam, must solve NDA
                                                                Question Paper provided on this page. Candidates should
                                                                have good command on National
                                                                Defence Academy Syllabus and exam pattern.

                                                                Every year UPSC recruits cadets for the various Naval,
                                                                army and Air post by conducting
                                                                the National Defence Academy and Naval Academy
                                                                examination. The National Defence Academy
                                                                is an institution of Military education in India. Here,
                                                                Normal indian youths get
                                                                transformed to Indian soldiers and great patriot. UPSC
                                                                conducts NDA exams mainly in two
                                                                phase which are exams – written and physical test.

                                                                A proper practice on NDA Past Year Question Papers must
                                                                be done before appearing for NDA
                                                                exams. Try to solve all NDA Past Year question Papers
                                                                atlest 5- 6 times before going to
                                                                nda exam.</p>

                                                        <table class="normal_table_cell prev-exam-pdfs">
                                                                <tbody>
                                                                        <tr>
                                                                                <td><strong class="blue_clr">CDS
                                                                                                Previous Year Question
                                                                                                Papers</strong>
                                                                                        <ul>
                                                                                                <li><a href="http://aimnachieve.com/updates/wp-content/uploads/2018/09/NDA-II-2018-Math-Question-Paper-Code-A.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                II 2018
                                                                                                                Maths
                                                                                                                Question
                                                                                                                Paper</a>
                                                                                                </li>
                                                                                                <li><a href="http://aimnachieve.com/updates/wp-content/uploads/2018/09/NDA-II-2018-GAT-Question-Paper-Code-A.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                II 2018
                                                                                                                GAT
                                                                                                                Question
                                                                                                                Paper</a>
                                                                                                </li>
                                                                                                <li><a href="http://aimnachieve.com/pdf/NDA-I-2018-Maths-Question-Paper-Code-A.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                I 2018
                                                                                                                Maths
                                                                                                                Question
                                                                                                                Paper</a>
                                                                                                </li>
                                                                                                <li><a href="http://aimnachieve.com/pdf/NDA-I-2018-Question-Paper-2-General-Ability-Test-Code-A.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                I 2018
                                                                                                                GAT
                                                                                                                Question
                                                                                                                Paper</a>
                                                                                                </li>
                                                                                                <li><a href="http://aimnachieve.com/updates/wp-content/uploads/2017/09/NDA-2-2017-Math-Question-Paper-Code-A.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                II 2017
                                                                                                                Maths
                                                                                                                Question
                                                                                                                Paper
                                                                                                        </a></li>
                                                                                                <li><a href="http://aimnachieve.com/updates/wp-content/uploads/2017/09/NDA-2-2017-GAT-Question-Paper-Code-A.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                II 2017
                                                                                                                GAT
                                                                                                                Question
                                                                                                                Paper</a>
                                                                                                </li>
                                                                                                <li><a href="http://aimnachieve.com/updates/wp-content/uploads/2017/04/NDA-Question-Paper-I-Math-23rd-April-2017.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                I 2017
                                                                                                                Maths
                                                                                                                Question
                                                                                                                Paper
                                                                                                        </a></li>
                                                                                                <li><a href="http://aimnachieve.com/updates/wp-content/uploads/2017/04/NDA-Question-Paper-II-General-Ability-23rd-April-2017.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                I 2017
                                                                                                                GAT
                                                                                                                Question
                                                                                                                Paper</a>
                                                                                                </li>
                                                                                                <li><a href="http://aimnachieve.com/pdf/nda-ii-2016-maths-question-paper.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                II 2016
                                                                                                                Maths
                                                                                                                Question
                                                                                                                Paper</a>
                                                                                                </li>
                                                                                                <li><a href="http://aimnachieve.com/pdf/nda-ii-2016-gat-question-paper"
                                                                                                                target="_blank">NDA
                                                                                                                II 2016
                                                                                                                GAT
                                                                                                                Question
                                                                                                                Paper</a>
                                                                                                </li>
                                                                                                <li><a href="http://aimnachieve.com/pdf/nda-i-2016-maths question-paper.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                I 2016
                                                                                                                Maths
                                                                                                                Question
                                                                                                                Paper
                                                                                                        </a></li>
                                                                                                <li><a href="http://aimnachieve.com/pdf/nda-i-2016-gat-question-paper.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                I 2016
                                                                                                                GAT
                                                                                                                Question
                                                                                                                Paper</a>
                                                                                                </li>
                                                                                                <li><a href="http://aimnachieve.com/pdf/nda-ii-2015-maths-question-paper.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                II 2015
                                                                                                                Maths
                                                                                                                Question
                                                                                                                Paper</a>
                                                                                                </li>
                                                                                                <li><a href="http://aimnachieve.com/pdf/nda-ii-2015-gat-question-paper.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                II 2015
                                                                                                                GAT
                                                                                                                Question
                                                                                                                Paper</a>
                                                                                                </li>
                                                                                                <li><a href="http://aimnachieve.com/pdf/nda-i-2015-maths-question-paper.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                I 2015
                                                                                                                Maths
                                                                                                                Question
                                                                                                                Paper</a>
                                                                                                </li>
                                                                                                <li><a href="http://aimnachieve.com/pdf/nda-i-2015-gat-question-paper.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                I 2015
                                                                                                                GAT
                                                                                                                Question
                                                                                                                Paper</a>
                                                                                                </li>
                                                                                                <li><a href="http://aimnachieve.com/pdf/nda-ii-2014-maths-question-paper"
                                                                                                                target="_blank">NDA
                                                                                                                II 2014
                                                                                                                Maths
                                                                                                                Question
                                                                                                                Paper
                                                                                                        </a></li>
                                                                                                <li><a href="http://aimnachieve.com/pdf/nda-ii-2014-gat-question-paper"
                                                                                                                target="_blank">NDA
                                                                                                                II 2014
                                                                                                                GAT
                                                                                                                Question
                                                                                                                Paper
                                                                                                        </a></li>
                                                                                                <li><a href="http://aimnachieve.com/pdf/nda-i-2014-maths-question-paper.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                I 2014
                                                                                                                Maths
                                                                                                                Question
                                                                                                                Paper
                                                                                                        </a></li>
                                                                                                <li><a href="http://aimnachieve.com/pdf/nda-i-2014-gat-question-paper.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                I 2014
                                                                                                                GAT
                                                                                                                Question
                                                                                                                Paper</a>
                                                                                                </li>
                                                                                        </ul>
                                                                                </td>
                                                                                <td><strong class="blue_clr">CDS
                                                                                                Question Paper
                                                                                                Solutions</strong>
                                                                                        <ul>
                                                                                                <li><a href="http://aimnachieve.com/updates/wp-content/uploads/2018/09/NDA-II-2018-Maths-Solutions-Code-A.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                II 2018
                                                                                                                Maths
                                                                                                                Paper
                                                                                                                Solution</a>
                                                                                                </li>
                                                                                                <li><a href="http://aimnachieve.com/updates/wp-content/uploads/2018/09/NDA-II-2018-GAT-Answer-Key-of-Paper-2-Code-A.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                II 2018
                                                                                                                GAT
                                                                                                                Paper
                                                                                                                Solution</a>
                                                                                                </li>
                                                                                                <li><a href="http://aimnachieve.com/pdf/NDA-I-2018-Maths-Solutions-of-Paper-Code-A.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                I 2018
                                                                                                                Maths
                                                                                                                Paper
                                                                                                                Solution</a>
                                                                                                </li>
                                                                                                <li><a href="http://aimnachieve.com/pdf/NDA-I-2018-GAT-Answer-Key-of-Paper-2-Code-A.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                I 2018
                                                                                                                GAT
                                                                                                                Paper
                                                                                                                Solution</a>
                                                                                                </li>
                                                                                                <li><a href="http://aimnachieve.com/updates/wp-content/uploads/2017/09/NDA-Paper-1-2017-Math-Solutions-10-September-2017-Code-A.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                II 2017
                                                                                                                Maths
                                                                                                                Paper
                                                                                                                Solution</a>
                                                                                                </li>
                                                                                                <li><a href="http://aimnachieve.com/updates/wp-content/uploads/2017/09/NDA-Paper-2-Code-C-Answer-Key-10-September-2017.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                II 2017
                                                                                                                GAT
                                                                                                                Paper
                                                                                                                Solution</a>
                                                                                                </li>
                                                                                                <li><a href="http://aimnachieve.com/updates/wp-content/uploads/2017/04/NDA-Math-Paper-1-Code-A-2017-Solution.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                I 2017
                                                                                                                Maths
                                                                                                                Paper
                                                                                                                Solution</a>
                                                                                                </li>
                                                                                                <li><a href="http://aimnachieve.com/updates/wp-content/uploads/2017/04/NDA-I-2017-General-Ability-Papers-Answer-Key.pdf"
                                                                                                                target="_blank">NDA
                                                                                                                I 2017
                                                                                                                GAT
                                                                                                                Paper
                                                                                                                Solution</a>
                                                                                                </li>
                                                                                                <li>NDA II 2016 Maths
                                                                                                        Paper Solution
                                                                                                        will be updated
                                                                                                        soon</li>
                                                                                                <li>NDA II 2016 GAT
                                                                                                        Paper Solution
                                                                                                        will be updated
                                                                                                        soon</li>
                                                                                                <li>NDA I 2016 Maths
                                                                                                        Paper Solution
                                                                                                        will be updated
                                                                                                        soon</li>
                                                                                                <li>NDA I 2016 GAT Paper
                                                                                                        Solution will be
                                                                                                        updated soon
                                                                                                </li>
                                                                                                <li>NDA II 2015 Maths
                                                                                                        Paper Solution
                                                                                                        will be updated
                                                                                                        soon</li>
                                                                                                <li>NDA II 2015 GAT
                                                                                                        Paper Solution
                                                                                                        will be updated
                                                                                                        soon</li>
                                                                                                <li>NDA I 2015 Maths
                                                                                                        Paper Solution
                                                                                                        will be updated
                                                                                                        soon</li>
                                                                                                <li>NDA I 2015 GAT Paper
                                                                                                        Solution will be
                                                                                                        updated soon
                                                                                                </li>
                                                                                                <li>NDA II 2014 Maths
                                                                                                        Paper Solution
                                                                                                        will be updated
                                                                                                        soon</li>
                                                                                                <li>NDA II 2014 GAT
                                                                                                        Paper Solution
                                                                                                        will be updated
                                                                                                        soon</li>
                                                                                                <li>NDA I 2014 Maths
                                                                                                        Paper Solution
                                                                                                        will be updated
                                                                                                        soon</li>
                                                                                                <li>NDA I 2014 GAT Paper
                                                                                                        Solution will be
                                                                                                        updated soon
                                                                                                </li>
                                                                                        </ul>
                                                                                </td>
                                                                        </tr>
                                                                </tbody>
                                                        </table>





                                                </div>
                                                <!--#endregion-->
                                        </div>
                                </div>

                                <!--#region Page data -->
                                <%- include('layouts/ads/ads')%>
                                <!--#endregion-->

                        </div>
                </section>
        </main>
        <!--#endregion-->

        <!--#region Footer-->

        <%- include('layouts/common/map')%>

        <%- include('layouts/footer/footer')%>

        <%- include('layouts/common/chatBot')%>

        <%- include('layouts/common/SelectedCandidatesBox')%>
        <!--#endregion-->

</body>

</html>