<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Georgians Academy Specializes in coaching for Defence. Best SSB Coaching in Delhi</title>

    <link href="css/headerFooter.css" type="text/css" rel="Stylesheet" />
    <link href="css/grid.css" type="text/css" rel="Stylesheet" />
    <link href="css/main.css" type="text/css" rel="Stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="js/static.js"></script>
</head>

<body>

    <!--#region Header-->
    <%- include('layouts/header/header')%>
    <!--#endregion-->

    <!--#region Main Page Display-->
    <main>
        <section class="gaArmyOfficerEntry">
            <div class="card-group row">
                <div class="card col-sm-9">
                    <div class="card-body">
                        <div class="container">

                            <div class="table-wrap">
                                <h4 class="table-title"> SSB INTERVIEW PREPARATION</h4>
                                <table class="table table-hover table-bordered cm-tables">
                                    <thead>
                                        <tr class="info">
                                            <th colspan="2">Our SSB Interview guidance Course includes the following
                                                tests :-</th>
                                        </tr>

                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>Screening Test</td>
                                            <td>Psychological Test
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                GTO techniques
                                            </td>
                                            <td>
                                                Practice on Lectures and Latest GD topics
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Extensive Interviews
                                            </td>
                                            <td>
                                                Development of communication skill.
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>

                            <div class="table-wrap">
                                <table class="table table-hover table-bordered cm-tables">
                                    <thead>
                                        <tr class="info">
                                            <th>Day Wise Programme</th>
                                            <th>Max. Batch Capacity of 15 nos.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Days</td>
                                            <td>Activity</td>
                                        </tr>
                                        <tr>
                                            <th class="center-th" rowspan="1">Day 1</th>
                                            <td>Interaction in detail and evaluation of the candidate according to his/
                                                her
                                                personality and Finalizing PIQ form. Introducing the 5 days SSB Process
                                                activity. And Discuss about the Three Techniques. Psychology, GTO And
                                                Interview</td>
                                        </tr>
                                        <tr>
                                            <th class="center-th" rowspan="2">Day 2</th>
                                            <td>Introductionof Psychology Technique in detail. Introduction of TAT.</td>
                                        </tr>
                                        <tr>
                                            <td>Introduction of Lecturate and evaluation of candidate communication,
                                                knowledge and confidence and accordingly help him to improve his
                                                confidence.
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="center-th" rowspan="3">Day 3</th>
                                            <td>Evaluation of each candidate’s approach in TAT and give the inputs as
                                                per
                                                his personality/PIQ</td>
                                        </tr>
                                        <tr>
                                            <td>Introduction of WAT</td>
                                        </tr>
                                        <tr>
                                            <td>Every Day Lectured Practice with their performance evaluation and
                                                providing
                                                continuous inputs to improve their speaking presentation skill. And
                                                motivate
                                                them to create their own opinion as an officer.</td>
                                        </tr>
                                        <tr>
                                            <td>Day 4</td>
                                            <td>Continuous evaluation of TAT and WAT as per their personality.
                                                Introduction
                                                of SRT.</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Continuous lecturate practice and evaluation</td>
                                        </tr>
                                        <tr>
                                            <td>Days 5</td>
                                            <td>Continuous evaluation of TAT, WAT and SRT as per their personality.</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Continuous lecturate practice and evaluation</td>
                                        </tr>
                                        <tr>
                                            <td>Day 6</td>
                                            <td>Continuous evaluation of TAT, WAT and SRT as per their personality.
                                                Introduction of GD and Evalution</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Continuous lecturate practice and evaluation</td>
                                        </tr>
                                        <tr>
                                            <td>Day 7</td>
                                            <td>Continuous evaluation of TAT, WAT and SRT as per their personality.
                                                Introduction of SD Evolution</td>
                                        </tr>
                                        <tr>
                                            <td>Day 8</td>
                                            <td>Continuous lecturate ; GD practice and evaluation</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Introduction Group Planning Activity and evaluation of each candidate
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Introduction Interview for First 2 Candidates.</td>
                                        </tr>
                                        <tr>
                                            <td>Day 9</td>
                                            <td>Continuous lectured ; GD practice and Group Planning Practice and
                                                evaluation
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Interview practice for next 2 candidate</td>
                                        </tr>
                                        <tr>
                                            <td>Day 10</td>
                                            <td>Continuous lecturate ; GD practice and Group Planning Practice and
                                                evaluation</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Interview practice for next 2 candidate</td>
                                        </tr>
                                        <tr>
                                            <td>Day 11</td>
                                            <td>Continuous lecturate ; GD practice and Group Planning Practice and
                                                evaluation.</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Interview practice for next 3 candidate</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Introduction of Screening</td>
                                        </tr>
                                        <tr>
                                            <td>Day 12</td>
                                            <td>Continuous lecturate ; GD practice and Group Planning Practice and
                                                evaluation</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Interview practice for next 3 candidate</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Introduction of Screening</td>
                                        </tr>
                                        <tr>
                                            <td>Day 13</td>
                                            <td>Mock 1 Psychology Practice, Continuous lecturate ; GD practice and Group
                                                Planning Practice and evaluion</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Interview practice for next 3 candidate</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Practice of Screening</td>
                                        </tr>
                                        <tr>
                                            <td>Day 14</td>
                                            <td>Mock 2 Psychology Practice. Introduction of PGT/HGT/FGT/CT and IO.</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Interview practice for all of the candidate</td>
                                        </tr>
                                        <tr>
                                            <td>Day 15</td>
                                            <td>Mock 3 Psychology Practice</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Final Mock Interview and conferenceapproach.</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="table-wrap">
                                <h4 class="table-title"> Fee structure for SSB</h4>
                                <h5>
                                    (Our Batches starts first of every month)
                                </h5>
                                <table class="table table-hover table-bordered cm-tables">
                                    <thead>
                                        <tr class="info">
                                            <th>Course Name</th>
                                            <th>Duration</th>
                                            <th>Batch Time</th>
                                            <th>Fee</th>
                                        </tr>

                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>Crash Course</td>
                                            <td>30 days</td>
                                            <td>9:30am - 2:30pm</td>
                                            <td>6000/-</td>
                                        </tr>

                                        <tr>
                                            <td>Comprehensive Course</td>
                                            <td>90 days</td>
                                            <td>9:30am - 2:30pm</td>
                                            <td>18000/-</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <p>We Provide personality development and communication skill class to all
                                    candidates.</p>
                                <div class="nots-list">
                                    <p>
                                        Separate <strong>Hostel/PG</strong> Facility for outstation
                                        <strong>Boys/Girls</strong>
                                    </p>
                                    <ul>

                                        <li>
                                            Charge: Rs 7500/month for Boys- <strong>(including breakfast, lunch and
                                                dinner)</strong>
                                        </li>
                                        <li>
                                            Charge: Rs 8000/month for Girls- <strong>(including breakfast, lunch and
                                                dinner)</strong>
                                        </li>
                                    </ul>


                                    <p>
                                        Students of RMS/ Sainik School/Navodaya Vidyalaya/ Kendriya Vidyalaya/ Govt
                                        schools will be given 30% Discounts in 2 Months course
                                    </p>

                                </div>

                                <p>
                                    <strong> NOTE : Students of EWS Category are given 30% Discount.</strong>
                                </p>

                            </div>


                        </div>
                    </div>
                </div>

                <!--#region Page data -->
                <%- include('layouts/ads/ads')%>
                <!--#endregion-->

            </div>
        </section>
    </main>
    <!--#endregion-->

    <!--#region Footer-->

    <%- include('layouts/common/map')%>

    <%- include('layouts/footer/footer')%>

    <%- include('layouts/common/chatBot')%>

    <%- include('layouts/common/SelectedCandidatesBox')%>
    <!--#endregion-->

</body>

</html>