<!--#region Header-->
<header class="gaheader">
    <div class="gacontainerfull clearfix">
        <!--#region Icon & Display Data-->
        <div class="ga_top_header clearfix">

            <!--#region Logo Icon -->
            <div class="ga header-logo l2 m2">
                <a href="/" class="galogo">
                    <img src="<%=displayData.preUrl%>assets/icons/logo.jpg" alt="Georgians Academy"
                        title="Georgians Academy">
                </a>
            </div>
            <!--#endregion-->

            <!--#region Display Data -->
            <div class="gafright header-right l10 m10 s12">
                <!--#region Mobile Icon -->

                <div class="m-header-conatct">

                    <div class="header-conatct ">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <a href="mailto:Pratapkunwarbms@gmail.com">
                            Pratapkunwarbms@gmail.com </a>


                    </div>

                    <div class="header-conatct ">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <a href="tel:7065502763">
                            7065502763 </a>

                    </div>
                </div>

                <div class="m-new-updates-text">
                    <p>
                        <span>New SSB Batch starts on every Monday.</span>
                    </p>
                    <p>
                        <span>Written batches for CDS/NDA/AFCAT/TA/CAPF/SSC runs every
                            month</span>
                    </p>
                </div>

                <div class="headpanelMob">
                    <a href="/" class="menuBar">
                        <i class="fa fa-bars"></i>
                    </a>
                    <a href="/">
                        <img class="headpanelMobImg" src="<%=displayData.preUrl%>assets/icons/logo.jpg"
                            alt="Georgians Academy" title="Georgians Academy">
                    </a>
                </div>
                <!--#endregion-->

                <!--#region Display Data -->
                <div class="headbalPanel">
                    <div class="header-slider">
                        <div class="header-slider-inner">
                            <div class="header-slides-wrap">

                                <!--#region Display Data-->
                                <div class="header-slides-item">
                                    <div class="header-slides-item-inner">
                                        <div class="header-slides-image">

                                            <div class="slide-info"
                                                style="background-image: url(<%=displayData.preUrl%>assets/images/ssbSelection/sparsh.jpg);">
                                                <div class="slide-info-img">
                                                    <img
                                                        src="<%=displayData.preUrl%>assets/images/ssbSelection/sparsh.jpg">
                                                </div>
                                                <div class="slide-info-txt info-txt">
                                                    <h4> SPARSH KANKANE</h4>
                                                    <p>AIR 1 in Merit List</p>
                                                    <p>NDA 142 Entry</p>
                                                </div>
                                            </div>

                                            <div class="slide-info"
                                                style="background-image: url(<%=displayData.preUrl%>assets/images/ssbSelection/sidharth.jpg);">
                                                <div class="slide-info-img">
                                                    <img
                                                        src="<%=displayData.preUrl%>assets/images/ssbSelection/sidharth.jpg">
                                                </div>
                                                <div class="slide-info-txt info-txt">
                                                    <h4> SIDDHARTH BHARTI</h4>
                                                    <p>AIR 2 In the Merit List</p>
                                                    <p> Army Tech Entry</p>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="header-slides-item new-updates">
                                    <div class="header-slides-item-inner">
                                        <div class="header-slides-content">
                                            <div class="new-updates-text">
                                                <p>
                                                    <span>New SSB Batch starts on every Monday.</span>
                                                </p>
                                                <p>
                                                    <span>Written batches for CDS/NDA/AFCAT/TA/CAPF/SSC runs every
                                                        month</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="header-slides-item">
                                    <div class="header-slides-item-inner">
                                        <div class="header-slides-content">

                                            <div class="get-tuch-wrap col-md-3">
                                                <div class="get-tuch ">
                                                    <h4>
                                                        NDA <br>
                                                        ADMISSIONS OPEN <br>
                                                        <a href="<%=displayData.preUrl%>" class="register-btn"
                                                            tabindex="0"> Register Now
                                                        </a>
                                                    </h4>
                                                </div>
                                            </div>

                                            <div class="header-slides-conatct col-md-3">
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                <p>
                                                    <strong>Email Address
                                                    </strong>

                                                    <span>
                                                        <a href="mailto:Pratapkunwarbms@gmail.com">Pratapkunwarbms@gmail.com
                                                        </a>
                                                    </span>
                                                </p>

                                            </div>

                                            <div class="header-slides-conatct col-md-3 ">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                <p>
                                                    <strong>Phone Number</strong>

                                                    <span>
                                                        <a href="tel:7065502763">
                                                            7065502763 </a>
                                                    </span>
                                                </p>

                                            </div>

                                            <div class="get-tuch-wrap col-md-3 ">
                                                <div class="get-tuch ">
                                                    <h4>
                                                        CDS <br>
                                                        ADMISSIONS OPEN <br>
                                                        <a href="<%=displayData.preUrl%>" class="register-btn"
                                                            tabindex="0"> Register Now
                                                        </a>
                                                    </h4>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--#endregion-->

                            </div>
                        </div>
                    </div>
                </div>
                <!--#endregion-->
                <div class="gafullwidth"></div>
            </div>
            <!--#endregion-->

        </div>
        <!--#endregion-->


        <!--#region Drop down header -->
        <nav class="ganavPanel">
            <ul class="ganav">
                <li <%if(displayData &&  displayData.url == "/"  ) { %> class="active" <% } %>>
                    <a href="/">Home</a>
                </li>
                <li <%if(displayData && displayData.url == "/aboutUs") { %> class="active" <% } %>>
                    <a href="<%=displayData.preUrl%>aboutUs">ABOUT US</a>
                </li>
                <li
                    class="has-sub-nav <%if(displayData && ( displayData.url == "/army-officers-entry" || displayData.url == "/army-soldier-entry") ) { %> active <% } %>">
                    <a>ARMY

                        <i class="fa fa-caret-right"></i>
                        <i class="fa fa-plus"></i>
                    </a>
                    <div class="gasubnav">
                        <ul>
                            <li>
                                <a href="<%=displayData.preUrl%>army-officers-entry">OFFICER ENTRY</a>
                            </li>
                            <li>
                                <a href="<%=displayData.preUrl%>army-soldier-entry">SOLDIER ENTRY</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li
                    class="has-sub-nav <%if(displayData && ( displayData.url == "/navy-officers-entry" || displayData.url == "/navy-soldier-entry") ) { %> active <% } %>">
                    <a>NAVY

                        <i class="fa fa-caret-right"></i>
                        <i class="fa fa-plus"></i>
                    </a>
                    <div class="gasubnav">
                        <ul>
                            <li>
                                <a href="<%=displayData.preUrl%>navy-officers-entry">OFFICER ENTRY</a>
                            </li>
                            <li>
                                <a href="<%=displayData.preUrl%>navy-soldier-entry">SOLDIER ENTRY</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li
                    class="has-sub-nav <%if(displayData && ( displayData.url == "/air-force-officers-entry" || displayData.url == "/air-force-soldier-entry") ) { %> active <% } %>">
                    <a>AIR FORCE

                        <i class="fa fa-caret-right"></i>
                        <i class="fa fa-plus"></i>
                    </a>
                    <div class="gasubnav">
                        <ul>
                            <li>
                                <a href="<%=displayData.preUrl%>air-force-officers-entry">OFFICER ENTRY</a>
                            </li>
                            <li>
                                <a href="<%=displayData.preUrl%>air-force-soldier-entry">SOLDIER ENTRY</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li <%if(displayData && displayData.url == "/paramilitary-force") { %> class="active" <% } %>>
                    <a href="<%=displayData.preUrl%>paramilitary-force">PARAMILITARY</a>
                </li>
                <li
                    class="has-sub-nav <%if(displayData && ( displayData.url == "/ssb-stage-1" || displayData.url == "/ssb-stage-2") ) { %> active <% } %>">
                    <a>SSB

                        <i class="fa fa-caret-right"></i>
                        <i class="fa fa-plus"></i>
                    </a>
                    <div class="gasubnav">
                        <ul>
                            <li>
                                <a href="<%=displayData.preUrl%>ssb-stage-1">STAGE-1</a>
                            </li>
                            <li>
                                <a href="<%=displayData.preUrl%>ssb-stage-2">STAGE-2</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="has-sub-nav">
                    <a>Previous Papers

                        <i class="fa fa-caret-right"></i>
                        <i class="fa fa-plus"></i>
                    </a>
                    <div class="gasubnav">
                        <ul>
                            <li>
                                <a href="<%=displayData.preUrl%>previouspapersnda">NDA</a>
                            </li>
                            <li>
                                <a href="<%=displayData.preUrl%>previouspaperscds">CDS</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="has-sub-nav">
                    <a>Courses

                        <i class="fa fa-caret-right"></i>
                        <i class="fa fa-plus"></i>
                    </a>
                    <div class="gasubnav gasubnav2">
                        <ul>
                            <li class="ganavheading">
                                <strong>Interview</strong>
                            </li>
                            <li>
                                <a href="<%=displayData.preUrl%>ssbInterview">SSB</a>
                            </li>
                            <li class="ganavheading">
                                <strong>Written Exam</strong>
                            </li>
                            <li>
                                <a href="<%=displayData.preUrl%>ndacourse">NDA</a>
                            </li>
                            <li>
                                <a href="<%=displayData.preUrl%>cdscourse">CDS/OTA</a>
                            </li>
                            <li>
                                <a href="<%=displayData.preUrl%>afcatcourse">AFCAT</a>
                            </li>
                            <li>
                                <a href="<%=displayData.preUrl%>acccourse">ACC & TA</a>
                            </li>
                        </ul>
                        <ul>
                            <li class="ganavheading">
                                <strong>Persons Below Officers Rank ENTRY</strong>
                            </li>
                            <li>
                                <a href="<%=displayData.preUrl%>armycourse">INDIAN ARMY</a>
                            </li>
                            <li>
                                <a href="<%=displayData.preUrl%>navycourse">INDIAN NAVY</a>
                            </li>
                            <li>
                                <a href="<%=displayData.preUrl%>airforcecourse">INDIAN AIR FORCE</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="">Success Stories</a>
                </li>
                <li class="has-sub-nav">
                    <a>News
                        <i class="fa fa-caret-right"></i>
                        <i class="fa fa-plus"></i>
                    </a>
                    <div class="gasubnav gasubnav1">
                        <ul>
                            <li class="ganavheading">
                                <strong>Current Affairs</strong>
                            </li>
                            <li>
                                <a href="<%=displayData.preUrl%>currentaffairsmonthly">Monthly</a>
                            </li>
                            <li>
                                <a href="<%=displayData.preUrl%>currentaffairsdaily">Daily</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li
                    class="has-sub-nav <%if(displayData && ( displayData.url == "/selectedcandidatesgallery" || displayData.url == "/activitygallery" || displayData.url == "/seminargallery") ) { %> active <% } %>">
                    <a>GALLERY

                        <i class="fa fa-caret-right"></i>
                        <i class="fa fa-plus"></i>
                    </a>
                    <div class="gasubnav">
                        <ul>
                            <li>
                                <a href="<%=displayData.preUrl%>selectedcandidatesgallery">Selected
                                    Candidates</a>
                            </li>
                            <li>
                                <a href="<%=displayData.preUrl%>activitygallery">Activity</a>
                            </li>
                            <li>
                                <a href="<%=displayData.preUrl%>seminargallery">Seminar</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="<%=displayData.preUrl%>blog/?pageNo=0">Blog</a>
                </li>
            </ul>
        </nav>
        <!--#endregion-->
    </div>
</header>
<!--#endregion-->